extends _layout/layout

block variables
	- var title = 'Techzones'
	- var bodyclass = 'news-page'

block body 
	//- include _layout/header
	main
		include _pages/ct-emagazine
	//- include _layout/footer