extends _layout/layout

block variables
	- var title = 'Techzones'
	- var bodyclass = 'product-detail-page'

block body 
	include _layout/header
	main
		include _pages/ct-sanphampc
	include _layout/footer