.breadcrumb-wrap
	padding: 10px 0
	// background: $bluegradient
	+media-breakpoint-down(lg)
		padding: 8px 0
	.breadcrumb
		margin: 0
		padding: 0
		+bor-rad(0)
		background: none
		// white-space: nowrap
		li
			display: inline-block
			+pos(rel,null)
			margin-right: 30px
			&:after
				content: ''
				display: block
				width: 0
				padding: 0
				border: 4px solid transparent
				border-color: transparent $blue $blue transparent
				+pos(abs, null -15px 6px null)
			&:nth-child(2)
				&:after
					border-color: transparent $red $red transparent
			&:nth-child(3)
				&:after
					border-color: transparent $purple $purple transparent
			&:nth-child(4)
				&:after
					border-color: transparent $green $green transparent
			&:nth-child(5)
				&:after
					border-color: transparent $amber $amber transparent
			&:nth-child(6)
				&:after
					border-color: transparent $orange $orange transparent
			a
				color: darken($white,40%)
				+fs(13rem)
				+media-breakpoint-down(lg)
					+fs(12rem)
				&:hover
					color: $black