header
	background: $white
	border-bottom: 1px solid darken($white,5%)
	.header-wrap
		+flexbox
		flex-wrap: wrap
		align-items: center
		align-content: center
	.sitelogo
		+flexbox
		height: 70px
		align-items: center
		align-content: center
		justify-content: center
		a
			display: block
		img
			height: 30px
	.top-menu
		margin-left: 40px
		ul.menu-link
			+flexbox
			> li
				+ li
					margin-left: 30px
				> a
					display: block
					+fs(14rem)
					font-weight: 700
					text-transform: uppercase
				&:hover
					> a
						color: $blue
	.search
		margin-left: 40px
		flex: auto
		.search-wrap
			.searchbox
				+flexbox
				align-items: center
				align-content: center
				background: darken($white,3%)
				+bor-rad(3px)
				input
					background: none
					+fs(14rem)
					width: calc(100% - 40px)
					border: none
					padding: 0px 15px
					&::-webkit-input-placeholder
						opacity: 0.5
				.searchbutton
					width: 40px
					height: 40px
					+flexbox
					align-items: center
					align-content: center
					justify-content: center
					cursor: pointer
					&:hover
						color: $blue
	.col-right
		+flexbox
		align-items: center
		align-content: center
		justify-content: flex-end
	.check-tool
		+flexbox
		align-items: center
		align-content: center
		&:before
			content: 'find_in_page'
			@extend .material-icons
			+fs(24rem)
			margin-right: 5px
		a
			display: block
			+fs(13rem)
			line-height: 1.1
			font-weight: 700
			width: 60px
		&:hover
			a
				color: $blue
	.login-tool
		margin-left: 40px
		.dropdown-toggle
			+fs(14rem)
			font-weight: 700
			text-transform: uppercase
			+flexbox
			align-items: center
			align-content: center
			&:before
				content: 'person'
				@extend .material-icons
				+fs(28rem)
				margin-right: 5px
			&:after
				display: none
			&:hover
				color: $blue
		.dropdown-menu
			min-width: 270px
			.login
				ul
					li
						margin-bottom: 10px
						a
							@extend .btn-main
							display: block
							// color: $black
			.social-login
				ul
					li 
						margin-bottom: 10px
						&:last-child
							margin-bottom: 0
						a
							@extend .btn-main
							color: $white
							+flexbox
							align-items: center
							align-content: center
							padding: 0
							.fa
								width: 40px
								height: 30px
								+flexbox
								align-items: center
								align-content: center
								justify-content: center
								+fs(16rem)
								border-right: 1px solid color-rgba($white,0.5)
							span
								display: block
								width: calc(100% - 40px)
								padding: 0px 10px
								text-align: center
							&.facebook
								background: $facebook
							&.google
								background: $google
	.notification
		margin-left: 20px
		.dropdown-toggle
			+fs(0rem)
			font-weight: 700
			text-transform: uppercase
			+flexbox
			align-items: center
			align-content: center
			&:before
				content: 'notifications'
				@extend .material-icons
				+fs(24rem)
			&:after
				display: none
			&:hover
				color: $blue
		.dropdown-menu
			min-width: 300px
			padding: 0
			.notification-list
				ul
					li
						.notification-item
							+flexbox
							align-items: center
							align-content: center
							&:before
								content: ''
								width: 100px
								height: 100px
								+bor-rad(50%)
								+flexbox
								align-items: center
								align-content: center
								justify-content: center
							.notification-content

	.cart
		margin-left: 20px
		.cart-toggle
			.cart-amount
				+fs(0rem)
				font-weight: 700
				text-transform: uppercase
				+flexbox
				align-items: center
				align-content: center
				&:before
					content: 'shopping_cart'
					@extend .material-icons
					+fs(24rem)
				&:hover
					color: $blue
	.header-menu
	.menu
		ul.menu-link
			+flexbox
			align-items: center
			align-content: center
			li
				+ li
					margin-left: 5px
				a
					+flexbox
					align-items: center
					align-content: center
					line-height: 20px
					+fs(14rem)
					padding: 10px 15px
					color: darken($white,40%)
					+pos(rel,null)
					&:after
						content: ''
						+pos(abs, null 0 0 0)
						height: 3px
						background: $bluegradient
						z-index: 1
						opacity: 0
						+transition(all,0.5s)
					.material-icons
						margin-right: 5px
						font-size: 18px
					span
						font-weight: 500
				&.sale
					border-left: 1px solid color-rgba($black,0.1)
					padding-left: 20px
					a
						padding: 0
						color: darken($white,60%)
					&.active
						&:after
							display: none
				&:hover
					a
						color: $blue
				&.active
					a
						color: $main
						&:after
							opacity: 1
