.home-title
	+fs(20rem)
	line-height: 24px
	// font-weight: 700
	text-transform: capitalize
	padding: 0 0 10px
	+pos(rel,null)
	border-bottom: 1px solid darken($white,5%)
	&:after
		content: ''
		display: block
		width: 50px
		height: 2px
		background: $blue
		+pos(abs, null null -1px 0)
		z-index: 3
	+media-breakpoint-down(lg)
		+fs(16rem)
		line-height: 1.3
	+media-breakpoint-down(sm)
		+fs(16rem)
.page-title
	+fs(24rem)
	// font-weight: 700
	padding: 0 0 10px
	margin-bottom: 20px
	text-transform: capitalize
	+pos(rel,null)
	border-bottom: 1px solid darken($white,5%)
	+media-breakpoint-down(sm)
		+fs(16rem)
	&:after
		content: ''
		display: block
		width: 50px
		height: 2px
		background: $blue
		+pos(abs, null null -1px 0)
		z-index: 3
	&.big
		+fs(32rem)
		+media-breakpoint-down(sm)
			+fs(24rem)
.home-video
	margin: 30px 0 20px
	// height: calc(100% - 50px)
	+bor-rad(5px)
	overflow: hidden
	+pos(rel,null)
	background: $white
	border: 2px solid darken($white,10%)
	padding: 20px
	+media-breakpoint-down(lg)
		padding: 15px
	+media-breakpoint-down(md)
		margin: 0 0 20px
		height: auto
	.home-title
		margin-bottom: 20px
	.video-wrap
		margin: 0px -20px
		overflow: hidden
		.video-des
			color: $main
			.video-name
				+fs(13rem)
				font-weight: 500
				+textover(2)
			.video-view
				+fs(12rem)
				opacity: 0.8
				font-weight: 300
		.video-big
			.video-des
				padding: 15px
				background: $mainblue
		.video-list
			background: $white
			height: 377px
			overflow: auto
			padding: 0px 20px
			&::-webkit-scrollbar-track
				background-color: transparent
				padding: 2px
			&::-webkit-scrollbar
				width: 5px
				background-color: transparent
			&::-webkit-scrollbar-thumb
				background-color: color-rgba($black,0.3)
			+media-breakpoint-down(lg)
				height: 351px
			+media-breakpoint-down(md)
				height: 250px
			.video
				display: block
				+ .video
					margin-top: 25px
				+transition(all,0.5s)
				+pos(rel,null)
				// border-bottom: 1px dashed darken($white,10%)
				+media-breakpoint-down(md)
					width: 50%
					// border-right: 1px dashed darken($white,10%)
					&:nth-child(2n)
						border-right: none
				+media-breakpoint-down(sm)
					width: 100%
					border-right: none
					&:first-child
						border-top: none
					&:last-child
						border-bottom: none
				&:before
					content: ''
					+pos(abs, 0 null 0 0)
					width: 3px
					background: $bluegradient-v
					opacity: 0
					+transition(all,0.5s)
				figure
					+flexbox
					align-items: flex-start
					align-content: flex-start
					.video-img
						width: 90px
						+pos(rel,null)
						&:before
							content: '\f04b'
							background: $white
							color: $blue
							+fs(12rem)
							width: 32px
							height: 32px
							+bor-rad(100px)
							+flexbox
							align-items: center
							align-content: center
							justify-content: center
							+pos(abs,50% null null 50%)
							+transform(translate(-50%,-50%))
							+transition(all,0.5s)
					figcaption
						width: calc(100% - 90px)
						padding-left: 10px
				&:hover
					figure
						.video-img
							&:before
								background: $blue
								color: $white
						figcaption
							.video-name
								color: $blue
.btn-viewall
	+pos(abs, 23px 20px null null)
	+fs(12rem)
	text-transform: uppercase
	color: darken($white,50%)
	+flexbox
	align-items: center
	align-content: center
	+media-breakpoint-down(lg)
		top: 20px
	+media-breakpoint-down(sm)
		top: 16px
	&:hover
		color: $blue

.home-qc, .home-qc2
	margin-bottom: 20px
	+media-breakpoint-down(lg)
		margin-bottom: 0
	+media-breakpoint-down(sm)
		display: none
	.qc-list
		+flexbox
		flex-wrap: wrap
		margin: 0px -10px
		+media-breakpoint-down(md)
			display: block
			white-space: nowrap
			overflow: auto
			overflow-y: hidden
			margin: 0px
	.item
		width: 25%
		padding: 0px 10px
		+media-breakpoint-down(md)
			display: inline-block
			vertical-align: top
			width: 280px
			padding: 0px
			+ .item
				margin-left: 10px
		+media-breakpoint-down(sm)
			width: 180px
			display: inline-block
			vertical-align: top
	.banner-qc
		display: block
		+bor-rad(5px)
		overflow: hidden
		margin-bottom: 0px
		// box-shadow: 0px 5px 20px color-rgba($black,0.05)
		+media-breakpoint-down(md)
			margin-bottom: 15px
		&:hover
			filter: brightness(120%)
			// box-shadow: 0px 5px 20px color-rgba($black,0.3)
.home-qc2
	margin-bottom: 30px
	+media-breakpoint-down(lg)
		margin-bottom: 15px
	.qc-list
		.item
			width: 50%
			padding: 0px 10px
			+media-breakpoint-down(md)
				width: 50%
			+media-breakpoint-down(sm)
				width: 180px
				display: inline-block
				vertical-align: top

.home-category
	+pos(rel,null)
	background: $white
	+bor-rad(5px)
	overflow: hidden
	margin-bottom: 20px
	+media-breakpoint-down(lg)
		padding: 0
	+media-breakpoint-down(md)
		margin: 0
		border-top: none
	.home-title
		margin-bottom: 20px
		display: none
	.btn-viewall
		display: none
	.category-wrap
		overflow: hidden
		+media-breakpoint-down(lg)
			padding: 0
			+pos(rel,null)
		+media-breakpoint-down(sm)
			box-shadow: none
			padding: 0
			overflow: visible
	.category-list
		+flexbox
		flex-wrap: wrap
		+media-breakpoint-down(md)
			display: block
			overflow: auto
			white-space: nowrap
		.item
			width: calc(100% / 8)
			+media-breakpoint-down(md)
				width: 170px
				display: inline-block
				+ .item
					margin-left: 5px
			+media-breakpoint-down(sm)
				width: 120px
				margin-bottom: 15px
			.category-item
				+flexbox
				align-items: center
				align-content: center
				padding: 0px 10px
				height: 70px
				+bor-rad(5px)
				.img
					img
						width: 100%
				.name
					+flexbox
					align-items: center
					align-content: center
					.material-icons
						color: $blue
						+flexbox
						width: 32px
						height: 32px
						align-items: center
						align-content: center
						justify-content: center
					span
						flex: 1
						padding-left: 5px
						+fs(13rem)
						font-weight: 500
						color: $main
						line-height: 1.2
						+media-breakpoint-down(lg)
							+fs(13rem)
							font-weight: normal
						+media-breakpoint-down(sm)
							+fs(12rem)
				&:hover
					background: $main
					.name
						span 
							color: $white 

.home-hotsale
	+pos(rel,null)
	margin-bottom: 30px
	+media-breakpoint-down(sm)
		margin-bottom: 15px
	.tab-content
		background: $white
		overflow: hidden
		margin-bottom: 15px	
		+media-breakpoint-down(sm)
			padding: 0
			box-shadow: none
			overflow: visible
	.btn-wrap
		text-align: center
	.nav-tabs
		margin-bottom: 20px
		+media-breakpoint-down(sm)
			margin-bottom: 15px
	.btn-viewall
		+pos(static, null)
		+fs(14rem)
		// font-weight: 500
		text-transform: none
		color: $white
		background: $main
		+bor-rad(50px)
		line-height: 36px
		display: inline-block
		padding: 0px 30px
		+media-breakpoint-down(sm)
			margin: 15px 0
			+fs(13rem)
			line-height: 36px
		&:before
			content: '\f055'
			font-family: 'fontawesome'
			margin-right: 10px
		&:hover
			background: $blue
		&:after
			display: none
	.product-slick
		padding: 0 15px
		+bor-rad(5px)
		+media-breakpoint-down(sm)
			overflow: auto
			white-space: nowrap
			margin: 0px -15px
			padding: 0px 15px
		.slick-prev, .slick-next
			+pos(abs, 50% null null null)
			+transform(translateY(-50%))
			z-index: 1
			+fs(0)
			// color: $white
			text-shadow: 0px 1px 5px color-rgba($black,0.1)
			opacity: 0
			+transition(all,0.5s)
			&:before
				content: ''
				+fs(14rem)
				+flexbox
				width: 36px
				height: 36px
				justify-content: center
				align-items: center
				+bor-rad(50px)
				background: $white
				border: 1px solid darken($white,5%)
			&:hover
				&:before
					background: $blue
					color: $white
					border-color: $blue
		.slick-prev
			left: 0px
			&:before
				content: '\f177'
		.slick-next
			right: 0px
			&:before
				content: '\f178'
		&:hover
			.slick-prev, .slick-next
				opacity: 1
			.slick-prev
				left: 10px
			.slick-next
				right: 10px
		.slick-track
			padding: 15px 0
		.slick-list
			margin: 0px -5px
		.item
			height: 100%
			padding: 0px 5px
			+media-breakpoint-down(sm)
				display: inline-block
				vertical-align: top
				width: auto
				width: 150px
				margin-bottom: 15px
				padding: 0
				+ .item
					margin-left: 10px
				&:last-child
					margin-right: 15px
	.product-col
		height: 100%
		white-space: normal
		figure
			.product-img
				height: 150px
			figcaption
				.product-price
					min-height: 30px

.home-brand
	margin-bottom: 20px
	+pos(rel,null)
	+media-breakpoint-down(sm)
		+bor-rad(0)
		margin: 0px -15px 20px
	.brand-wrap
		padding: 15px
		background: $white
		+bor-rad(5px)
		overflow: hidden
		box-shadow: 0px 5px 20px color-rgba($black,0.05)
		+media-breakpoint-down(sm)
			padding: 10px 0px 0
	.brand-list
		+flexbox
		flex-wrap: wrap
		margin: 0px
		+media-breakpoint-down(md)
			flex-direction: column
			height: 200px
			overflow: auto
			overflow-y: hidden
		+media-breakpoint-down(sm)
			height: 150px
		&::-webkit-scrollbar-track
			background-color: transparent
		&::-webkit-scrollbar
			width: 0px
			background-color: transparent
		&::-webkit-scrollbar-thumb
			background-color: transparent
		.item
			width: calc(100% / 8)
			+media-breakpoint-down(md)
				width: auto
				height: 49.5%
	.brand-item
		+flexbox
		height: 80px
		align-items: center
		align-content: center
		justify-content: center
		border: 1px solid transparent
		+bor-rad(5px)
		+transition(all,0.5s)
		+media-breakpoint-down(md)
			width: 160px
			height: 100%
		+media-breakpoint-down(sm)
			width: 110px
		img
			max-width: 70%
			max-height: 70%
			+transition(all,0.5s)
			+media-breakpoint-down(sm)
				max-width: 80%
				max-height: 80%
		&:hover
			+media-breakpoint-up(xl)
				border: 1px solid darken($white,10%)
				img
					+transform(scale3d(1.2,1.2,1))

.home-product
	+pos(rel,null)
	margin-bottom: 30px
	+media-breakpoint-down(sm)
		margin-bottom: 5px
	&.pc
		+media-breakpoint-down(md)
			display: none
	&.mobile
		display: none
		+media-breakpoint-down(md)
			display: block
	.home-title
		margin-bottom: 30px
		+media-breakpoint-down(sm)
			margin-bottom: 15px
	.product-list
		+media-breakpoint-up(lg)
			background: $white
			padding: 15px 15px 5px
			+bor-rad(5px)
		.row
			&.no-gutters
				margin: 0px -5px !important
				> [class*="col-"]
					padding: 0px 5px !important
					margin-bottom: 10px
		.product-col
			// border: none
			// background: $white
			// +media-breakpoint-down(sm)
			// 	background: none
			// 	border: 1px solid darken($white,5%)
	.product-category
		box-shadow: 0px 5px 20px color-rgba($black,0.05)
		+bor-rad(5px)
		background: $white
		overflow: hidden
		+media-breakpoint-down(lg)
			box-shadow: none
		+media-breakpoint-down(sm)
			box-shadow: none
			+bor-rad(0)
			overflow: auto
			margin: 0px -15px
	.category-nav
		margin-bottom: 10px
		.slick-prev, .slick-next
			+pos(abs, 50% null null null)
			+transform(translateY(-50%))
			z-index: 3
			+fs(0)
			margin-top: 5px
			&:before
				content: ''
				width: 36px
				height: 36px
				+bor-rad(50px)
				+flexbox
				justify-content: center
				align-items: center
				align-content: center
				+fs(14rem)
				border: 1px solid darken($white,5%)
			&:hover
				&:before
					background: $blue
					border-color: $blue
					color: $white
		.slick-prev
			left: 15px
			&:before
				content: '\f177'
		.slick-next
			right: 15px
			&:before
				content: '\f178'
		.slick-dots
			text-align: center
			+pos(abs, null 0 0 0)
			// visibility: hidden
			li
				display: inline-block
				width: 6px
				height: 6px
				+bor-rad(50px)
				background: darken($white,20%)
				+ li
					margin-left: 5px
				button
					display: none
				&.slick-active
					background: $blue
		.item
			.category-name
				text-align: center
				+fs(16rem)
				color: $black
				font-weight: 700
				text-transform: uppercase
				padding: 15px 0
	.category-slick
		.product-list
			border-top: none
		.item
			+media-breakpoint-down(sm)
				padding: 0px 15px

	.btn-wrap
		padding-top: 20px

.home-news
	+pos(rel,null)
	margin-bottom: 20px
	+media-breakpoint-down(sm)
		+bor-rad(0)
	&.home-facebook
		margin-bottom: 30px
	.home-title
		margin-bottom: 30px
	.btn-wrap
		text-align: center
	.btn-viewall
		+pos(static, null)
		+fs(14rem)
		// font-weight: 500
		text-transform: none
		color: $white
		background: $main
		+bor-rad(50px)
		line-height: 36px
		display: inline-block
		padding: 0px 30px
		+media-breakpoint-down(sm)
			margin: 15px 0
			+fs(13rem)
			line-height: 36px
		&:before
			content: '\f055'
			font-family: 'fontawesome'
			margin-right: 10px
		&:hover
			background: $blue
		&:after
			display: none

	.news-wrap
		// background: $white
		// +bor-rad(5px)
		overflow: hidden
		+media-breakpoint-down(sm)
			padding: 0
			box-shadow: none
			// +bor-rad(0)
			margin: 0px -15px
	.news-list
		+flexbox
		flex-wrap: wrap
		margin: 0px -10px
		+media-breakpoint-down(sm)
			display: block
			white-space: nowrap
			overflow: auto
			overflow-y: hidden
			padding: 0px 15px
			margin: 0 0 15px
		.item
			width: 50%
			padding: 0px 10px
			+media-breakpoint-down(md)
				padding: 0px 10px
			+media-breakpoint-down(sm)
				display: inline-block
				vertical-align: top
				width: 250px
				padding: 0
				+ .item
					margin-left: 5px
	.news-item
		display: block
		margin-bottom: 20px
		// border-bottom: 1px dashed darken($white,10%)
		+media-breakpoint-down(sm)
			margin-bottom: 0
			padding-bottom: 0
			border-bottom: none
		figure
			+flexbox
			flex-wrap: wrap
			background: $white
			overflow: hidden
			+bor-rad(5px)
			.news-img
				width: 40%
				height: 150px
				+flexbox
				align-items: center
				align-content: center
				justify-content: center
				+transition(all,0.5s)
				+media-breakpoint-only(md)
					height: 110px
				+media-breakpoint-down(sm)
					width: 100%
					height: 150px
				img
					min-width: 100%
					min-height: 100%
					+transition(all,0.5s)
					+media-breakpoint-down(md)
						object-fit: cover
			figcaption
				width: 60%
				padding-top: 15px
				padding-left: 15px
				padding-right: 15px
				+media-breakpoint-down(sm)
					width: 100%
					padding: 5px 0px 0
					white-space: normal
				time
					display: block
					+fs(12rem)
					font-weight: 500
					color: $blue
				.news-name
					+fs(16rem)
					line-height: 1.3
					font-weight: 500
					// text-transform: uppercase
					margin-bottom: 5px
					display: -webkit-box
					-webkit-line-clamp: 2
					-webkit-box-orient: vertical
					overflow: hidden
					text-overflow: ellipsis
					+transition(all,0.5s)
					+media-breakpoint-down(md)
						+fs(14rem)
						+textover(2)
					+media-breakpoint-down(sm)
						// +fs(13rem)
						+textover(3)
				.news-des
					+fs(14rem)
					line-height: 1.4
					color: darken($white,40%)
					display: -webkit-box
					-webkit-line-clamp: 3
					-webkit-box-orient: vertical
					overflow: hidden
					text-overflow: ellipsis
					+media-breakpoint-only(md)
						+fs(13rem)
						+textover(2)
					+media-breakpoint-down(sm)
						+fs(12rem)
						display: none
		&:hover
			figure
				.news-img
					overflow: hidden
					img
						+transform(scale3d(1.1,1.1,1))
				figcaption
					.news-name
						color: $blue
.home-facebook
	+pos(rel,null)
	margin-bottom: 30px
	+media-breakpoint-down(sm)
		+bor-rad(0)
	.home-title
		margin-bottom: 30px
	.btn-wrap
		text-align: center
	.btn-viewall
		+pos(static, null)
		+fs(14rem)
		// font-weight: 500
		text-transform: none
		color: $white
		background: $main
		+bor-rad(50px)
		line-height: 36px
		display: inline-block
		padding: 0px 30px
		+media-breakpoint-down(sm)
			margin: 15px 0
			+fs(13rem)
			line-height: 36px
		&:before
			content: '\f055'
			font-family: 'fontawesome'
			margin-right: 10px
		&:hover
			background: $blue
		&:after
			display: none
	.facebook-wrap
		+media-breakpoint-down(md)
			padding: 0
		+media-breakpoint-down(sm)
			margin: 0px -15px
			box-shadow: none
			padding: 0
			+bor-rad(0)
		.fb-list
			+flexbox
			flex-wrap: wrap
			margin: 0px -10px 20px
			+media-breakpoint-down(lg)
				margin: 0px -5px
			+media-breakpoint-down(md)
				display: block
				white-space: nowrap
				overflow: auto
				padding: 15px
			+media-breakpoint-down(sm)
				margin: 0px 0px 15px
				
				padding: 0px 15px
			.item
				padding: 0px 10px
				width: calc(100% / 5)
				+media-breakpoint-down(lg)
					padding: 0px 5px
				+media-breakpoint-down(md)
					display: inline-block
					vertical-align: top
					width: 170px
				+media-breakpoint-down(sm)
					width: 250px
					padding: 0
					+ .item
						margin-left: 5px
			.fb-item
				display: block
				height: calc(100% - 0px)
				+bor-rad(5px)
				overflow: hidden
				background: $white
				+media-breakpoint-down(md)
					margin-bottom: 0
				figure
					.fb-img
						+flexbox
						align-items: center
						align-content: center
						justify-content: center
						height: 150px
						overflow: hidden
						+pos(rel,null)
						+media-breakpoint-down(lg)
							height: 100px
						+media-breakpoint-down(sm)
							height: 150px
						&:before
							content: '\f09a'
							background: $white
							+fs(16rem)
							width: 32px
							height: 32px
							+bor-rad(100px)
							+flexbox
							align-items: center
							align-content: center
							justify-content: center
							color: $facebook
							+pos(abs, null null 10px 10px)
							box-shadow: 0px 3px 5px color-rgba($black,0.1)
						img
							min-width: 100%
							min-height: 100%
							+media-breakpoint-down(md)
								object-fit: cover
					figcaption
						padding: 15px
						+media-breakpoint-down(sm)
							padding: 10px 15px
						time
							display: inline-block
							+fs(13rem)
							color: darken($white,40%)
							margin-bottom: 5px
							+media-breakpoint-down(lg)
								+fs(12rem)
						.fb-des
							+fs(14rem)
							line-height: 1.4
							color: $main
							display: -webkit-box
							-webkit-line-clamp: 3
							-webkit-box-orient: vertical
							overflow: hidden
							text-overflow: ellipsis
							+transition(all,0.5s)
							+media-breakpoint-down(lg)
								// +fs(13rem)
							+media-breakpoint-down(md)
								white-space: normal
								height: 0.875rem*3*1.4
				&:hover
					figure
						figcaption
							.fb-des
								color: $blue
.homepage
	.pages
		display: none!important
