.home-title
	+fs(18rem)
	line-height: 20px
	font-weight: 700
	text-transform: capitalize
	padding: 0 0px 15px
	+pos(rel,null)
	+media-breakpoint-down(sm)
		+fs(16rem)
.home-video
	margin: 30px 0 20px
	height: calc(100% - 50px)
	+pos(rel,null)
	+media-breakpoint-down(md)
		margin: 0 0 15px
		height: auto
	+media-breakpoint-down(sm)
		+bor-rad(0)
		margin: 0px -15px 10px
	.video-wrap
		// padding: 0px 15px 15px
		+bor-rad(5px)
		overflow: hidden
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
		.video-des
			color: $main
			.video-name
				+fs(13rem)
				font-weight: 500
				+textover(2)
			.video-view
				+fs(12rem)
				opacity: 0.8
				font-weight: 300
		.video-big
			.video-des
				padding: 15px
				background: $mainblue
		.video-list
			background: $white
			height: 441px
			overflow: auto
			+media-breakpoint-down(lg)
				height: 351px
			+media-breakpoint-down(md)
				height: 250px
				+flexbox
				flex-wrap: wrap
			+media-breakpoint-down(sm)
				height: 200px
				margin-bottom: 10px
			+media-breakpoint-up(lg)
				&::-webkit-scrollbar-track
					background-color: transparent
					padding: 2px
				&::-webkit-scrollbar
					width: 5px
					background-color: transparent
				&::-webkit-scrollbar-thumb
					background-color: color-rgba($black,0.3)
			.video
				display: block
				padding: 10px
				+transition(all,0.5s)
				+pos(rel,null)
				border-bottom: 1px dashed darken($white,10%)
				+media-breakpoint-down(md)
					width: 50%
					border-right: 1px dashed darken($white,10%)
					&:nth-child(2n)
						border-right: none
				+media-breakpoint-down(sm)
					width: 100%
					border-right: none
				&:before
					content: ''
					+pos(abs, 0 null 0 0)
					width: 3px
					background: $bluegradient-v
					opacity: 0
					+transition(all,0.5s)
				figure
					+flexbox
					align-items: flex-start
					align-content: flex-start
					.video-img
						width: 90px
						+pos(rel,null)
						&:before
							content: '\f04b'
							background: $bluegradient-r
							+fs(12rem)
							width: 35px
							height: 25px
							+bor-rad(5px)
							+flexbox
							align-items: center
							align-content: center
							justify-content: center
							color: $white
							+pos(abs,50% null null 50%)
							+transform(translate(-50%,-50%))
					figcaption
						width: calc(100% - 90px)
						padding-left: 10px
				&:hover
					background: color-rgba($blue,0.1)
					&:before
						opacity: 1
.btn-viewall
	+pos(abs, 0 0 null null)
	+fs(14rem)
	font-weight: 500
	color: $blue
	&:after
		content: '\f105'
		margin-left: 5px

.home-qc, .home-qc2
	+media-breakpoint-down(sm)
		display: none
	.qc-list
		+flexbox
		flex-wrap: wrap
		margin: 0px -10px
		+media-breakpoint-down(md)
			display: block
			white-space: nowrap
			overflow: auto
			overflow-y: hidden
			margin: 0px
	.item
		width: 25%
		padding: 0px 10px
		+media-breakpoint-down(md)
			display: inline-block
			width: 280px
			padding: 0px
			+ .item
				margin-left: 10px
		+media-breakpoint-down(sm)
			width: 180px
			display: inline-block
			vertical-align: top
	.banner-qc
		display: block
		+bor-rad(5px)
		overflow: hidden
		margin-bottom: 20px
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
		+media-breakpoint-down(md)
			margin-bottom: 15px
		&:hover
			filter: brightness(120%)
			box-shadow: 0px 5px 20px color-rgba($black,0.3)
.home-qc2
	.qc-list
		.item
			width: 50%
			padding: 0px 10px
			+media-breakpoint-down(md)
				width: 50%
			+media-breakpoint-down(sm)
				width: 180px
				display: inline-block
				vertical-align: top

.home-category
	margin-bottom: 20px
	+pos(rel,null)
	.category-wrap
		padding: 15px
		background: $white
		+bor-rad(5px)
		overflow: hidden
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
		+media-breakpoint-down(lg)
			padding: 0
			+pos(rel,null)
		+media-breakpoint-down(sm)
			box-shadow: none
			padding: 0
			overflow: visible
	.category-list
		+flexbox
		flex-wrap: wrap
		margin: 0px -5px
		+media-breakpoint-down(lg)
			display: block
			overflow: auto
			white-space: nowrap
			padding: 15px
		+media-breakpoint-down(sm)
			padding: 0 15px
			margin: 0px -15px
		.item
			width: calc(100% / 8)
			padding: 0px 5px
			+media-breakpoint-down(lg)
				width: 170px
				display: inline-block
			+media-breakpoint-down(sm)
				padding: 0
				width: 150px
				margin-bottom: 15px
				+ .item
					margin-left: 5px
			&:nth-child(1)
				.category-item
					background: $lightbluegradient
					box-shadow: 0px 10px 20px -10px $lightblue
					&:hover
						box-shadow: 0px 10px 40px -10px $lightblue
			&:nth-child(2)
				.category-item
					background: $ambergradient
					box-shadow: 0px 10px 20px -10px $amber
					&:hover
						box-shadow: 0px 10px 40px -10px $amber
			&:nth-child(3)
				.category-item
					background: $pinkgradient
					box-shadow: 0px 10px 20px -10px $pink
					&:hover
						box-shadow: 0px 10px 40px -10px $pink
			&:nth-child(4)
				.category-item
					background: $greengradient
					box-shadow: 0px 10px 20px -10px $green
					&:hover
						box-shadow: 0px 10px 40px -10px $green
			&:nth-child(5)
				.category-item
					background: $redgradient
					box-shadow: 0px 10px 20px -10px $red
					&:hover
						box-shadow: 0px 10px 40px -10px $red
			&:nth-child(6)
				.category-item
					background: $cyangradient
					box-shadow: 0px 10px 20px -10px $cyan
					&:hover
						box-shadow: 0px 10px 40px -10px $cyan
			&:nth-child(7)
				.category-item
					background: $purplegradient
					box-shadow: 0px 10px 20px -10px $purple
					&:hover
						box-shadow: 0px 10px 40px -10px $purple
			&:nth-child(8)
				.category-item
					background: $lightgreengradient
					box-shadow: 0px 10px 20px -10px $lightgreen
					&:hover
						box-shadow: 0px 10px 40px -10px $lightgreen
			.category-item
				+flexbox
				align-items: center
				align-content: center
				color: $white
				+bor-rad(5px)
				overflow: hidden
				width: 100%
				height: 60px
				padding: 0px 10px
				+transition(all,0.5s)
				&:hover
					filter: brightness(110%)
					margin-top: -5px
				.img
					display: none
				.name
					+flexbox
					align-items: center
					align-content: center
					.material-icons
						+fs(32rem)
						+flexbox
						align-items: center
						align-content: center
						justify-content: center
						// width: 60px
						// height: 60px
					span
						width: calc(100% - 32px)
						padding-left: 10px
						+fs(14rem)
						line-height: 1.2
						font-weight: 500
						+media-breakpoint-down(sm)
							+fs(13rem)

.home-hotsale
	+pos(rel,null)
	margin-bottom: 20px
	.tab-content
		padding: 15px
		background: $white
		+bor-rad(5px)
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
		overflow: hidden
		+media-breakpoint-down(sm)
			padding: 0
			box-shadow: none
			overflow: visible
	.btn-viewall
		+pos(abs, 10px 0px null null)
		+media-breakpoint-down(sm)
			+pos(static,null)
	.product-slick
		margin-bottom: -15px
		+media-breakpoint-down(sm)
			overflow: auto
			white-space: nowrap
			margin: 0px -15px
			padding: 0px 15px
		.slick-prev, .slick-next
			+pos(abs, 50% null null null)
			+transform(translateY(-50%))
			z-index: 1
			+fs(0)
			color: $main
			text-shadow: 0px 1px 5px color-rgba($black,0.1)
			opacity: 0
			+transition(all,0.5s)
			&:before
				content: ''
				font-family: 'linearicons-free'
				+fs(24rem)
		.slick-prev
			left: 0px
			&:before
				content: '\e875'
		.slick-next
			right: 0px
			&:before
				content: '\e876'
		&:hover
			.slick-prev, .slick-next
				opacity: 0.5
			.slick-prev
				left: 10px
			.slick-next
				right: 10px
		.slick-track
			padding-bottom: 15px
		.item
			height: 100%
			+media-breakpoint-down(sm)
				display: inline-block
				vertical-align: top
				width: auto
				width: 150px
				margin-bottom: 15px
	.product-col
		height: 100%
		white-space: normal
		figure
			.product-img
				height: 150px

.home-brand
	margin-bottom: 20px
	+pos(rel,null)
	+media-breakpoint-down(sm)
		+bor-rad(0)
		margin: 0px -15px 10px
	.brand-wrap
		padding: 15px
		background: $white
		+bor-rad(5px)
		overflow: hidden
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
		+media-breakpoint-down(sm)
			padding: 10px 0px 0
	.brand-list
		+flexbox
		flex-wrap: wrap
		margin: 0px
		+media-breakpoint-down(md)
			flex-direction: column
			height: 200px
			overflow: auto
			overflow-y: hidden
		+media-breakpoint-down(sm)
			height: 150px
		&::-webkit-scrollbar-track
			background-color: transparent
		&::-webkit-scrollbar
			width: 0px
			background-color: transparent
		&::-webkit-scrollbar-thumb
			background-color: transparent
		.item
			width: calc(100% / 8)
			+media-breakpoint-down(md)
				width: auto
				height: 49.5%
	.brand-item
		+flexbox
		height: 80px
		align-items: center
		align-content: center
		justify-content: center
		border: 1px solid transparent
		+bor-rad(5px)
		+transition(all,0.5s)
		+media-breakpoint-down(md)
			width: 160px
			height: 100%
		+media-breakpoint-down(sm)
			width: 110px
		img
			max-width: 70%
			max-height: 70%
			+transition(all,0.5s)
			+media-breakpoint-down(sm)
				max-width: 80%
				max-height: 80%
		&:hover
			+media-breakpoint-up(xl)
				border: 1px solid darken($white,10%)
				img
					+transform(scale3d(1.2,1.2,1))

.home-product
	+pos(rel,null)
	margin-bottom: 20px
	+media-breakpoint-down(sm)
		+bor-rad(0)
		margin: 0px -15px 10px
	&.pc
		+media-breakpoint-down(md)
			display: none
	&.mobile
		display: none
		+media-breakpoint-down(md)
			display: block
	.product-list
		padding: 15px
		background: $white
		+bor-rad(5px)
		overflow: hidden
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
	.product-category
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
		+bor-rad(5px)
		background: $white
		overflow: hidden
	.category-nav
		.slick-prev, .slick-next
			+pos(abs, 50% null null null)
			+transform(translateY(-50%))
			z-index: 3
			+fs(0)
			&:before
				content: ''
				font-family: 'linearicons-free'
				+fs(18rem)
		.slick-prev
			left: 30px
			&:before
				content: '\e875'
		.slick-next
			right: 30px
			&:before
				content: '\e876'
		.slick-dots
			text-align: center
			+pos(abs, null 0 0 0)
			li
				display: inline-block
				width: 6px
				height: 6px
				+bor-rad(50px)
				background: darken($white,20%)
				+ li
					margin-left: 5px
				button
					display: none
				&.slick-active
					background: $blue
		.item
			.category-name
				text-align: center
				+fs(16rem)
				color: $black
				font-weight: 700
				text-transform: uppercase
				padding: 15px 0
	.category-slick
		.product-list
			border-top: none

	.btn-wrap
		padding-top: 20px

.home-news
	+pos(rel,null)
	margin-bottom: 20px
	+media-breakpoint-down(sm)
		+bor-rad(0)
		margin: 0px -15px 10px
	&.home-facebook
		margin-bottom: 30px
	.news-wrap
		background: $white
		+bor-rad(5px)
		overflow: hidden
		padding: 15px 15px 0px
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
		+media-breakpoint-down(sm)
			padding: 10px 0
	.news-list
		+flexbox
		flex-wrap: wrap
		margin: 0px -15px
		+media-breakpoint-down(sm)
			display: block
			margin: 0px -5px
			padding: 0px 10px
			white-space: nowrap
			overflow: auto
			overflow-y: hidden
		.item
			width: 50%
			padding: 0px 15px
			+media-breakpoint-down(md)
				padding: 0px 15px
			+media-breakpoint-down(sm)
				display: inline-block
				vertical-align: top
				padding: 0px 5px
				width: 150px
	.news-item
		display: block
		margin-bottom: 15px
		padding-bottom: 15px
		border-bottom: 1px dashed darken($white,10%)
		+media-breakpoint-down(sm)
			margin-bottom: 0
			padding-bottom: 0
			border-bottom: none
		figure
			+flexbox
			flex-wrap: wrap
			.news-img
				width: 40%
				height: 150px
				+flexbox
				align-items: center
				align-content: center
				justify-content: center
				+bor-rad(5px)
				overflow: hidden
				box-shadow: 0px 5px 20px color-rgba($black,0.1)
				+transition(all,0.5s)
				+media-breakpoint-only(md)
					height: 110px
				+media-breakpoint-down(sm)
					width: 100%
					height: 100px
				img
					min-width: 100%
					min-height: 100%
					+media-breakpoint-down(md)
						object-fit: cover
			figcaption
				width: 60%
				padding-left: 20px
				+media-breakpoint-down(sm)
					width: 100%
					padding: 5px 0px 0
					white-space: normal
				time
					display: inline-block
					+fs(13rem)
					line-height: 1
					color: $main
					padding: 5px 15px
					background: $bluegradient
					+bor-rad(50px)
					margin-bottom: 10px
					+media-breakpoint-only(md)
						+fs(11rem)
						margin-bottom: 5px
					+media-breakpoint-down(sm)
						+fs(12rem)
						font-weight: 500
						color: $blue
						padding: 0
						background: none
				.news-name
					+fs(16rem)
					line-height: 1.3
					font-weight: 500
					text-transform: uppercase
					margin-bottom: 5px
					display: -webkit-box
					-webkit-line-clamp: 2
					-webkit-box-orient: vertical
					overflow: hidden
					text-overflow: ellipsis
					+transition(all,0.5s)
					+media-breakpoint-only(md)
						+fs(14rem)
						+textover(2)
					+media-breakpoint-down(sm)
						+fs(13rem)
						+textover(3)
				.news-des
					+fs(14rem)
					line-height: 1.4
					color: darken($white,40%)
					display: -webkit-box
					-webkit-line-clamp: 3
					-webkit-box-orient: vertical
					overflow: hidden
					text-overflow: ellipsis
					+media-breakpoint-only(md)
						+fs(13rem)
						+textover(2)
					+media-breakpoint-down(sm)
						+fs(12rem)
						display: none
		&:hover
			figure
				.news-img
					box-shadow: 0px 5px 20px color-rgba($black,0.3)
				figcaption
					.news-name
						color: $blue
.home-facebook
	+pos(rel,null)
	margin-bottom: 30px
	+media-breakpoint-down(sm)
		+bor-rad(0)
		margin: 0px -15px 10px
	.facebook-wrap
		background: $white
		+bor-rad(5px)
		overflow: hidden
		padding: 15px 15px
		box-shadow: 0px 5px 20px color-rgba($black,0.1)
		+media-breakpoint-down(md)
			padding: 0
		.fb-list
			+flexbox
			flex-wrap: wrap
			margin: 0px -10px
			+media-breakpoint-down(lg)
				margin: 0px -5px
			+media-breakpoint-down(md)
				display: block
				white-space: nowrap
				overflow: auto
				padding: 15px
			.item
				padding: 0px 10px
				width: calc(100% / 5)
				+media-breakpoint-down(lg)
					padding: 0px 5px
				+media-breakpoint-down(md)
					display: inline-block
					vertical-align: top
					width: 170px
				+media-breakpoint-down(sm)
					width: 150px
			.fb-item
				display: block
				+bor-rad(5px)
				height: calc(100% - 0px)
				background: darken($white,5%)
				// box-shadow: 0px 5px 20px color-rgba($black,0.1)
				// margin-bottom: 20px
				+media-breakpoint-down(md)
					margin-bottom: 0
				figure
					.fb-img
						+flexbox
						align-items: center
						align-content: center
						justify-content: center
						height: 150px
						overflow: hidden
						+bor-rad(5px 5px 0 0)
						+pos(rel,null)
						+media-breakpoint-down(lg)
							height: 100px
						&:before
							content: '\f09a'
							background: color-rgba($facebook,0.8)
							+fs(24rem)
							width: 50px
							height: 40px
							+flexbox
							align-items: center
							align-content: center
							justify-content: center
							color: $white
							+pos(abs, null null 0 0)
						img
							min-width: 100%
							min-height: 100%
							+media-breakpoint-down(md)
								object-fit: cover
					figcaption
						padding: 10px
						time
							display: inline-block
							+fs(13rem)
							color: darken($white,40%)
							margin-bottom: 5px
							+media-breakpoint-down(lg)
								+fs(12rem)
						.fb-des
							+fs(14rem)
							line-height: 1.4
							color: $main
							display: -webkit-box
							-webkit-line-clamp: 3
							-webkit-box-orient: vertical
							overflow: hidden
							text-overflow: ellipsis
							+transition(all,0.5s)
							+media-breakpoint-down(lg)
								+fs(13rem)
							+media-breakpoint-down(md)
								white-space: normal
								height: 0.8125rem*3*1.4
				&:hover
					figure
						figcaption
							.fb-des
								color: $blue