.home-title
	+fs(16rem)
	font-weight: 700
	text-transform: uppercase
	padding: 18px 15px 15px
	+pos(rel,null)
	&:before
		content: ''
		+pos(abs, 0 0 null 0)
		height: 3px
		background: $bluegradient
.home-video
	margin: 30px 0
	height: calc(100% - 60px)
	background: $white
	.video-wrap
		// padding: 0px 15px 15px
		border-top: 1px solid darken($white,5%)
		.video-des
			color: $main
			.video-name
				+fs(13rem)
				font-weight: 500
			.video-view
				+fs(12rem)
				opacity: 0.8
				font-weight: 300
		.video-big
			.video-des
				padding: 15px
				background: $mainblue
		.video-list
			// background: $main
			height: 418px
			overflow: auto
			&::-webkit-scrollbar-track
				background-color: transparent
				padding: 2px
			&::-webkit-scrollbar
				width: 5px
				background-color: transparent
			&::-webkit-scrollbar-thumb
				background-color: color-rgba($black,0.3)
			.video
				display: block
				padding: 10px
				+transition(all,0.5s)
				+pos(rel,null)
				border-bottom: 1px dashed darken($white,5%)
				&:before
					content: ''
					+pos(abs, 0 null 0 0)
					width: 3px
					background: $bluegradient-v
					opacity: 0
					+transition(all,0.5s)
				figure
					+flexbox
					.video-img
						width: 90px
						+pos(rel,null)
						&:before
							content: '\f04b'
							background: $bluegradient-r
							+fs(14rem)
							width: 40px
							height: 30px
							+flexbox
							align-items: center
							align-content: center
							justify-content: center
							color: $white
							+pos(abs,50% null null 50%)
							+transform(translate(-50%,-50%))
					figcaption
						width: calc(100% - 90px)
						padding-left: 10px
				&:hover
					background: color-rgba($white,0.1)
					&:before
						opacity: 1
