section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Đăng ký thẻ
section.register-page
	.container
		h1.home-title.text-blue.text-center.mb-2 Đăng ký thẻ
		.home-content.text-center.mb-0(style="max-width: unset")
			.content
				p Đăng ký thẻ Quốc tế Visa Vietbank để nhận ưu đãi lớn từ VietBank
		.register-link
			a(href="#!") Đăng ký nhanh
			a.active(href="#!") Đăng ký đầy đủ
		.register-form
			.module-title 
				span Chọn loại thẻ
			.card-list
				.row
					.col-12.col-md-4
						.cre-card
							input#c1(type="radio", name="card" checked)
							label(for="c1")
								.img
									img(src="img/dangky/c1.png", alt="")
								.name luxury
					.col-12.col-md-4
						.cre-card
							input#c2(type="radio", name="card")
							label(for="c2")
								.img
									img(src="img/dangky/c2.png", alt="")
								.name platinum
					.col-12.col-md-4
						.cre-card(data-toggle="modal" data-target="#choosecard")
							input#c3(type="radio", name="card")
							label(for="c3")
								.img
									img(src="img/dangky/c3.png", alt="")
								.name My style

			#choosecard.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
				.modal-dialog.modal-card(role='document')
					.modal-content
						.modal-header
							.close(data-dismiss='modal', aria-label='Close')
								.material-icons close
						.modal-body
							.module-title 
								span Chọn loại thẻ
							.card-list
								.row
									.col-12.col-md-3
										.cre-card
											input#c21(type="radio", name="card2" checked)
											label(for="c21")
												.img
													img(src="img/dangky/c3.png", alt="")
												//- .name luxury
									.col-12.col-md-3
										.cre-card
											input#c22(type="radio", name="card2" checked)
											label(for="c22")
												.img
													img(src="img/dangky/c3.png", alt="")
												//- .name luxury
									.col-12.col-md-3
										.cre-card
											input#c23(type="radio", name="card2" checked)
											label(for="c23")
												.img
													img(src="img/dangky/c3.png", alt="")
												//- .name luxury
									.col-12.col-md-3
										.cre-card
											input#c24(type="radio", name="card2" checked)
											label(for="c24")
												.img
													img(src="img/dangky/c3.png", alt="")
												//- .name luxury
							
			.register-step
				.step.active 01. Thông tin khách hàng
				.step 02. Thông tin tài chính
				.step 03. Thông tin dịch vụ
				.step 04. Hoàn thành
			.form-wrap
				.form-note.text-blue.mb-4 Điền đầy đủ thông tin của bạn bên dưới, chúng tôi sẽ gọi lại để hỗ trợ bạn đăng ký.
				.form-group.mb-4
					label Hạn mức tín dụng mong muốn:
					.input
						input.w-auto(type="text" placeholder="VND")
				.form-title Thông tin khách hàng:
				.form-group
					label Họ và tên:
					.input
						input(type="text" placeholder="Tên trên CMND/CCCD/Giấy khai sinh")
				.form-group.align-items-start
					label Họ và tên:
					.input
						.card-name
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
							input(type="text" placeholder="")
						em.form-note.text-silver (Tối đa 19 ký tự không dấu kể cả khoảng trắng)
				.form-group
					label Giới tính:
					.input
						.gender
							ul
								li.radio
									input#nam(type="radio", name="gender" checked)
									label(for="nam") Nam
								li.radio
									input#nu(type="radio", name="gender")
									label(for="nu") Nữ
				.form-group
					label Ngày sinh:
					.input
						.form-row
							.col-12.col-md-6
								.birthday.mb-sm-10
									ul
										li
											input(type="text" placeholder="Ngày")
										li
											input(type="text" placeholder="Tháng")
										li
											input(type="text" placeholder="Năm")
							.col-12.col-md-6
								.form-sub
									label Quốc tịch:
									select
										option 
				.form-group
					label Số CMND/CCCD/HC:
					.input
						input(type="text" placeholder="")
				.form-group
					label Ngày cấp:
					.input
						.form-row
							.col-12.col-md-6
								.birthday.mb-sm-10
									ul
										li
											input(type="text" placeholder="Ngày")
										li
											input(type="text" placeholder="Tháng")
										li
											input(type="text" placeholder="Năm")
							.col-12.col-md-6
								.form-sub
									label Nơi cấp:
									input(type="text")
				.form-group
					label Số ĐTDĐ:
					.input
						.form-row
							.col-12.col-md-6
								input.mb-sm-10(type="text")
							.col-12.col-md-6
								.form-sub
									label Số ĐT bàn:
									input(type="text")
				.form-group
					label Email:
					.input
						input(type="text" placeholder="Email cá nhân")
				.form-group.align-items-start
					label Địa chỉ hộ khẩu:
					.input
						.form-row
							.col-12
								input.mb-10(type="text" placeholder="Số nhà tên đường")
							.col-12.col-md-6.col-lg-4
								.form-sub.mb-md-10
									label Phường/Xã:
									select
										option
							.col-12.col-md-6.col-lg-4
								.form-sub.mb-md-10
									label Tỉnh/TP:
									select
										option
							.col-12.col-md-6.col-lg-4
								.form-sub
									label Quận/Huyện:
									select
										option
				.form-group.align-items-start
					label Địa chỉ hiện tại:
					.input
						.form-row
							.col-12
								input.mb-10(type="text" placeholder="Số nhà tên đường")
							.col-12.col-md-6.col-lg-4
								.form-sub.mb-10
									label Phường/Xã:
									select
										option
							.col-12.col-md-6.col-lg-4
								.form-sub.mb-10
									label Tỉnh/TP:
									select
										option
							.col-12.col-md-6.col-lg-4
								.form-sub.mb-10
									label Quận/Huyện:
									select
										option
							.col-12.col-md-12.col-lg-3
								.form-sub
									label.w-100.mt-10.mb-10 Hình thức sỡ hữu:
							.col-12.col-md-12.col-lg-9
								.form-row.align-items-center
									.col-12.col-md-3
										.radio.mb-10
											input#n1(type="radio", name="nha")
											label(for="n1") Nhà riêng
									.col-12.col-md-3
										.radio.mb-10
											input#n2(type="radio", name="nha")
											label(for="n2") Nhà bố mẹ
									.col-12.col-md-3
										.radio.mb-10
											input#n3(type="radio", name="nha")
											label(for="n3") Nhà thuê
									.col-12.col-md-3
										input.mb-10(type="text" placeholder="VNĐ/Tháng")
									.col-12.col-md-3
										.radio.mb-10
											input#n4(type="radio", name="nha")
											label(for="n4") Khác
									.col-12.col-md-9
										input.mb-10(type="text")
							.col-12
								.form-sub
									label.w-auto Thời gian cư trú:
									.date-live
										ul
											li
												input(type="text")
												|Tháng
											li
												input(type="text")
												|Năm
				.form-group
					label Tình trạng hôn nhân:
					.input
						.mary-status
							ul
								li.radio
									input#h1(type="radio", name="honnhan")
									label(for="h1") Độc thân
								li.radio
									input#h2(type="radio", name="honnhan")
									label(for="h2") Đã lập gia đình
								li.radio
									input#h3(type="radio", name="honnhan")
									label(for="h3") Khác
				.form-group
					label Học vấn:
					.input
						.mary-status
							ul
								li.radio
									input#h1(type="radio", name="hoc")
									label(for="h1") Phổ thông
								li.radio
									input#h2(type="radio", name="hoc")
									label(for="h2") Trung cấp
								li.radio
									input#h3(type="radio", name="hoc")
									label(for="h3") CĐ/ĐH
								li.radio
									input#h4(type="radio", name="hoc")
									label(for="h4") Sau ĐH
				.form-group.align-items-start
					label Thông tin xác thực:
					.input
						.form-row
							.col-12.col-md-7
								.form-sub.s2.mb-10
									label Tên trường học đầu tiên:
										.des (thông tin xác thực chủ thẻ)
									input(type="text")
							.col-12.col-md-5
								.form-sub.s3.mb-10
									label Màu yêu thích
									input(type="text")
							.col-12
								.form-sub.s2
									label Khác
									input(type="text")
				.frm-btn
					input.btn-primary(type="submit", value="Đăng ký")