section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Đăng ký thẻ
section.register-page
	.container
		.register-form.pt-0
			.register-step
				.step.finish 01. Thông tin khách hàng
				.step.finish 02. Thông tin tài chính
				.step.finish 03. Thông tin dịch vụ
				.step.active 04. Hoàn thành
			.register-finish.text-center
				h1.title.text-uppercase đăng ký thẻ hoàn tất
				.content
					p Chúc mừng bạn đã hoàn tất đăng ký thẻ Visa Vietbank.
						br
						|Nhân viên Vietbank sẽ sớm liên hệ với quý khách để hoàn tất hồ sơ cấp thẻ.
					p Bạn có muốn in 
						a.text-blue(href="#!") “Mẫu đăng ký mở thẻ”
						|.
				.btn-wrap.text-center
					a.btn-print(href="#!") In
					a.btn-home(href="#!") Về trang chủ
