section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Đăng ký thẻ
section.register-page
	.container
		h1.home-title.text-blue.text-center.mb-2 Đăng ký thẻ
		.home-content.text-center.mb-0(style="max-width: unset")
			.content
				p Đăng ký thẻ Quốc tế Visa Vietbank để nhận ưu đãi lớn từ VietBank
		.register-link.mb-5
			a(href="#!") Đăng ký nhanh
			a.active(href="#!") Đăng ký đầy đủ
		.row
			.col-12.col-md-7.col-lg-6
				.register-form.mt-0.mt-lg-2.pt-0
					.form-wrap
						.form-title Điều kiện đăng ký:
						.content
							ul
								li Trên 18 tuổi
								li Thu nhập hàng tháng từ 10 triệu VND trở lên
								li Nhận lương qua tài khoản ngân hàng
							p.text-blue Điền đầy đủ thông tin của bạn bên dưới, chúng tôi sẽ gọi lại để hỗ trợ bạn đăng ký.
						.form-group.s2.mb-4
							label(for="") Lương tháng nhận qua tài khoản:
							.input
								input(type="text")
							.form-note.w-100 *Lưu ý: Lương cố định thể hiện trên sao kê ngân hàng
						.form-title Thông tin cá nhân:
						.form-group
							input.w-100(type="text" placeholder="Họ tên")
						.form-group
							input.w-100(type="text" placeholder="Số CMND / CCCD / HC")
						.form-group
							input.w-100(type="text" placeholder="Số điện thoại di động")
						.form-group
							input.w-100(type="text" placeholder="Địa chỉ email")
						.form-group.mb-3
							.checkbox.w-100
								input#cb1(type="checkbox", name="checkbox1")
								label(for="cb1") Tôi đồng ý rằng Vietbank có thể sử dụng thông tin trên đây để liên hệ với tôi nhằm giới thiệu những sản phẩm, dịch vụ và chương trình khuyến mãi của Vietbank từ nay trở về sau.
						.form-note.mb-3 *Lưu ý: Các thông tin của Quý khách sẽ không được sử dụng cho các mục đích khác ngoài những mục đích được nêu trên hoặc chia sẻ với bên thứ 3 ngoại trừ Vietbank.
						.frm-btn
							input.btn-primary(type="submit", value="Gửi")
			.col-12.col-md-5.col-lg-6
				.drop.text-center
					img(src="img/dangky/drop.png", alt="")