section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Hỗ trợ
				li
					a(href="#!")
						span Mẫu biểu
	.page-banner
		.banner-img
			img(src="img/breadcrumb/6.jpg", alt="")
		.container
			.banner-caption
				.big Hỗ trợ
				//- .des Tham khảo và tìm đáp án cho các câu hỏi thường gặp mà ngân hàng VietBank đã tổng hợp sẵn cho quý khách!
.container
	.row
		.col-12.col-lg-3
			nav.sidebar-category
				ul.cate-link
					li.active
						a(href="#!") Biểu phí
						.btn-showsub
						.sub
							ul
								li
									a(href="#!") Tổng hợp
								li.active
									a(href="#!") Thẻ tín dụng
								li
									a(href="#!") Thẻ ghi nợ
					li
						a(href="#!") Mẫu biểu
					li
						a(href="#!") Dùng thẻ thông minh
					li
						a(href="#!") Điều kiện & Điều khoản
					li
						a(href="#!") Điều kiện mở thẻ
					li
						a(href="#!") Câu hỏi thuường gặp
						.btn-showsub
						.sub
							ul
								li.active
									a(href="#!") Thẻ tín dụng Vietbank
								li
									a(href="#!") Tiện ích của thẻ tín dụng Vietbank
								li
									a(href="#!") Hạn mức của thẻ tín dụng Vietbank
								li
									a(href="#!") Thanh toán thẻ tín dụng Vietbank
								li
									a(href="#!") Tiện ích Microsite
								li
									a(href="#!") Sự cố khi sử dụng thẻ
		.col-12.col-lg-9
			section.support-page
				h1.page-title.d-none Hỗ trợ
				#responsivetabs.support-tabs.s2
					ul.tabs-list
						li.tab-item
							a.tab-link(href="#tab1") Dịch vụ tài khoản và tiền gửi
						li.tab-item
							a.tab-link(href="#tab2") Ngân hàng số
						//- li.tab-item
							a.tab-link(href="#tab3") Thẻ tín dụng quốc tế Vietbank VISA Platinum Luxury
					#tab1.tab-content
						.faq-list
							.faq.active
								.faq-title Làm thế nào để đăng ký lại thẻ thay thế cho thẻ bị hư hỏng của tôi?
								.faq-content(style="display:block")
									.content
										p Nếu thẻ của bạn bị hư hỏng, bạn có thể yêu cần một sự thay thế ở Vietbank hoặc liên hệ với chúng tôi.
										p Một khi bạn đã yêu cầu một thẻ thay thế:
										ul
											li Số thẻ và số PIN sẽ không thay đổi và bạn có thể tiếp tục sử dụng thẻ hiện tại của bạn cho đến khi bạn nhận được một thẻ mới.
											li Thẻ mới sẽ được gửi đến bạn trong vòng 7 ngày làm việc.
											li Một khi thẻ mới đến, huỷ thẻ hiện tại của bạn và bắt đầu sử dụng một mới ngay lập tức.
										p Xem thêm 
											a.text-blue(href="#!") Báo cáo thẻ của tôi như bị mất, bị đánh cắp hoặc bị hư hỏng.
							.faq
								.faq-title Làm thế nào để đăng ký lại thẻ thay thế cho thẻ bị hư hỏng của tôi?
								.faq-content
									.content
										p Đang cập nhật...
							.faq
								.faq-title Làm thế nào để đăng ký lại thẻ thay thế cho thẻ bị hư hỏng của tôi?
								.faq-content
									.content
										p Đang cập nhật...
							.faq
								.faq-title Làm thế nào để đăng ký lại thẻ thay thế cho thẻ bị hư hỏng của tôi?
								.faq-content
									.content
										p Đang cập nhật...
							.faq
								.faq-title Làm thế nào để đăng ký lại thẻ thay thế cho thẻ bị hư hỏng của tôi?
								.faq-content
									.content
										p Đang cập nhật...
							.faq
								.faq-title Làm thế nào để đăng ký lại thẻ thay thế cho thẻ bị hư hỏng của tôi?
								.faq-content
									.content
										p Đang cập nhật...
					#tab2.tab-content Đang cập nhật