section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Hỗ trợ
				li
					a(href="#!")
						span Mẫu biểu
	.page-banner
		.banner-img
			img(src="img/breadcrumb/6.jpg", alt="")
		.container
			.banner-caption
				.big Mẫu biểu
				//- .des Tham khảo và tìm đáp án cho các câu hỏi thường gặp mà ngân hàng VietBank đã tổng hợp sẵn cho quý khách!
.container
	.row
		.col-12.col-lg-3
			nav.sidebar-category
				ul.cate-link
					li
						a(href="#!") Biểu phí
						.btn-showsub
						.sub
							ul
								li
									a(href="#!") Thẻ tín dụng quốc tế VISA
					li.active
						a(href="#!") Mẫu biểu
					li
						a(href="#!") Dùng thẻ thông minh
					li
						a(href="#!") Điều kiện & Điều khoản
					li
						a(href="#!") Điều kiện mở thẻ
					li
						a(href="#!") Câu hỏi thuường gặp
						.btn-showsub
						.sub
							ul
								li.active
									a(href="#!") Thẻ tín dụng Vietbank
								li
									a(href="#!") Tiện ích của thẻ tín dụng Vietbank
								li
									a(href="#!") Hạn mức của thẻ tín dụng Vietbank
								li
									a(href="#!") Thanh toán thẻ tín dụng Vietbank
								li
									a(href="#!") Tiện ích Microsite
								li
									a(href="#!") Sự cố khi sử dụng thẻ
		.col-12.col-lg-9
			section.support-page
				h1.page-title.d-none Mẫu biểu
				.pdf-list
					.row
						.col-6.col-md-4.col-lg-3
							a.pdf-file(href="#!")
								.icon
									img(src="img/support/i1.png", alt="")
								.name Điều khoản điều kiện phát hành thẻ tín dụng
						.col-6.col-md-4.col-lg-3
							a.pdf-file(href="#!")
								.icon
									img(src="img/support/i1.png", alt="")
								.name Điều khoản điều kiện phát hành thẻ tín dụng
						.col-6.col-md-4.col-lg-3
							a.pdf-file(href="#!")
								.icon
									img(src="img/support/i1.png", alt="")
								.name Điều khoản điều kiện phát hành thẻ tín dụng
						.col-6.col-md-4.col-lg-3
							a.pdf-file(href="#!")
								.icon
									img(src="img/support/i1.png", alt="")
								.name Điều khoản điều kiện phát hành thẻ tín dụng
						.col-6.col-md-4.col-lg-3
							a.pdf-file(href="#!")
								.icon
									img(src="img/support/i1.png", alt="")
								.name Điều khoản điều kiện phát hành thẻ tín dụng