section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Hỗ trợ
				li
					a(href="#!")
						span Biểu phí
	.page-banner
		.banner-img
			img(src="img/breadcrumb/6.jpg", alt="")
		.container
			.banner-caption
				.big Biểu phí
				//- .des Tham khảo và tìm đáp án cho các câu hỏi thường gặp mà ngân hàng VietBank đã tổng hợp sẵn cho quý khách!
.container
	.row
		.col-12.col-lg-3
			nav.sidebar-category
				ul.cate-link
					li.active
						a(href="#!") Biểu phí
						.btn-showsub
						.sub
							ul
								li.active
									a(href="#!") Thẻ tín dụng quốc tế VISA
					li
						a(href="#!") Biểu mẫu
					li
						a(href="#!") Dùng thẻ thông minh
					li
						a(href="#!") Điều kiện & Điều khoản
					li
						a(href="#!") Điều kiện mở thẻ
					li
						a(href="#!") Câu hỏi thuường gặp
						.btn-showsub
		.col-12.col-lg-9
			section.support-page
				.pdf-iframe
					img(src="img/support/pdf.png", alt="")