section.home-card
	.container
		.card-slick
			.item
				a.card-item(href="#!")
					figure
						.card-img
							img(src="img/home/c1.png", alt="")
						figcaption
							.card-logo
								img(src="img/home/visa.png", alt="")
							.card-name Visa luxury platinum
							.card-des Dòng thẻ đẳng cấp, cao cấp nhất
			.item
				a.card-item(href="#!")
					figure
						.card-img
							img(src="img/home/c2.png", alt="")
						figcaption
							.card-logo
								img(src="img/home/visa.png", alt="")
							.card-name Visa luxury platinum
							.card-des Dòng thẻ đẳng cấp, cao cấp nhất
			.item
				a.card-item(href="#!")
					figure
						.card-img
							img(src="img/home/c3.png", alt="")
						figcaption
							.card-logo
								img(src="img/home/visa.png", alt="")
							.card-name Visa luxury platinum
							.card-des Dòng thẻ đẳng cấp, cao cấp nhất
section.home-intro
	.container
		h1.home-title.text-center Chọn thẻ theo sở thích
		.home-des.text-center Lợi ích đúng nhu cầu
		.home-content.text-center(style="max-width: 770px")
			.content
				p Lựa chọn thông  minh với những giá trị khuyến mãi mới nhất của ngân hàng từ những loại thẻ tín dụng tốt nhất cho nhu cầu của mình. Đảm bảo bạn sẽ được hưởng ưu đãi, thông tin hấp dẫn nhất từ những loại thẻ mà bạn chọn!
		.intro-img.text-center
			img(src="img/home/cardlist.png", alt="")
section.home-promotion.s2
	.container
		.row
			.col-12.col-md-6
				.img.text-center
					img(src="img/home/map.png", alt="")
			.col-12.col-md-6
				.promotion-content.text-center
					h2.home-title 55 ngày ưu đãi
					.home-des Được miễn lãi dài dài
					.home-content(style="max-width:350px")
						.content
							p Quý khách hàng sẽ được tận hưởng miễn lãi lên đến 55 ngày, thời gian ưu đãi miễn lãi dài nhất hiện nay trên thị trường Việt Nam.
section.home-promotion
	.container
		.row
			.col-12.col-md-6
				.promotion-content.text-center
					h2.home-title Trả góp mọi lúc mọi nơi
					.home-des Nhẹ vơi ghánh nặng tài chính
					.home-content(style="max-width:350px")
						.content
							p Đăng ký giao dịch mọi lúc mọi nơi không giới hạn tất cả đại lý.
								br
								|Đăng ký trả góp tiền mặt qua thẻ lên đến 100% hạn mức tín dụng với lãi suất hấp dẫn.
			.col-12.col-md-6
				.img.text-center
					img(src="img/home/img1.png", alt="")
section.home-feature.s2
	.container
		h2.home-title.text-center Chủ động cùng microsite
		.home-des.text-center Chạm tay quản lý thẻ
		.home-content.text-center(style="max-width:460px")
			.content
				p Và còn rất nhiều dịch vụ và ứng dụng khác trên Microsite.
					br
					|Chủ động quản lý thẻ dễ dàng, nhanh chóng qua chương trình Microsite
		.feature-list
			.row
				.col-12.col-md-6.col-lg-4
					.feature
						.icon
							img(src="img/home/f1.png", alt="")
						.name THay đổi mã pin thẻ
						.des Thay đổi mã PIN trực tiếp trên Microsite không cần đến chi nhánh Vietbank. 
				.col-12.col-md-6.col-lg-4
					.feature
						.icon
							img(src="img/home/f1.png", alt="")
						.name THay đổi mã pin thẻ
						.des Thay đổi mã PIN trực tiếp trên Microsite không cần đến chi nhánh Vietbank. 
				.col-12.col-md-6.col-lg-4
					.feature
						.icon
							img(src="img/home/f1.png", alt="")
						.name THay đổi mã pin thẻ
						.des Thay đổi mã PIN trực tiếp trên Microsite không cần đến chi nhánh Vietbank. 
				.col-12.col-md-6.col-lg-4
					.feature
						.icon
							img(src="img/home/f1.png", alt="")
						.name THay đổi mã pin thẻ
						.des Thay đổi mã PIN trực tiếp trên Microsite không cần đến chi nhánh Vietbank. 
				.col-12.col-md-6.col-lg-4
					.feature
						.icon
							img(src="img/home/f1.png", alt="")
						.name THay đổi mã pin thẻ
						.des Thay đổi mã PIN trực tiếp trên Microsite không cần đến chi nhánh Vietbank. 
				.col-12.col-md-6.col-lg-4
					.feature
						.icon
							img(src="img/home/f1.png", alt="")
						.name THay đổi mã pin thẻ
						.des Thay đổi mã PIN trực tiếp trên Microsite không cần đến chi nhánh Vietbank. 
section.home-promotion
	.container
		.row
			.col-12.col-md-6
				.img.text-center
					img(src="img/home/img2.png", alt="")
			.col-12.col-md-6
				.promotion-content.text-center
					h2.home-title Công nghệ hiện đại
					.home-des Lợi ích đúng nhu cầu
					.home-content(style="max-width:350px")
						.content
							p Tiếp nhận xử lý và có kết quả phê duyệt, sử dụng thanh toán ngay các Giao dịch E-commerce nhanh chóng.