section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Hỗ trợ
				li
					a(href="#!")
						span Biểu phí
	.page-banner
		.banner-img
			img(src="img/breadcrumb/6.jpg", alt="")
		.container
			.banner-caption
				.big Hỗ trợ
				.des Tham khảo và tìm đáp án cho các câu hỏi thường gặp mà ngân hàng VietBank đã tổng hợp sẵn cho quý khách!
.container
	.row
		.col-12.col-lg-3
			nav.sidebar-category
				ul.cate-link
					li.active
						a(href="#!") Biểu phí
						.btn-showsub
						.sub
							ul
								li
									a(href="#!") Tổng hợp
								li.active
									a(href="#!") Thẻ tín dụng
								li
									a(href="#!") Thẻ ghi nợ
					li
						a(href="#!") Biểu mẫu
					li
						a(href="#!") Dùng thẻ thông minh
						.btn-showsub
					li
						a(href="#!") Điều kiện & Điều khoản
					li
						a(href="#!") Điều kiện mở thẻ
					li
						a(href="#!") Câu hỏi thuường gặp
		.col-12.col-lg-9
			section.support-page
				#responsivetabs.support-tabs
					ul.tabs-list
						li.tab-item
							a.tab-link(href="#tab1") Thẻ tín dụng quốc tế Vietbank VISA My Style 
						li.tab-item
							a.tab-link(href="#tab2") Thẻ tín dụng quốc tế Vietbank VISA Platinum
						li.tab-item
							a.tab-link(href="#tab3") Thẻ tín dụng quốc tế Vietbank VISA Platinum Luxury
					#tab1.tab-content
						.support-ads
							img(src="img/support/bn1.jpg", alt="")
							.caption
								.title Biểu phí
								.name Thẻ tín dụng quốc tế 
									strong Vietbank VISA My Style 
								a.btn-download(href="#!") Tải PDF
					#tab2.tab-content
						.support-ads
							img(src="img/support/bn1.jpg", alt="")
							.caption
								.title Biểu phí
								.name Thẻ tín dụng quốc tế 
									strong Vietbank VISA My Style 
								a.btn-download(href="#!") Tải PDF
					#tab3.tab-content
						.support-ads
							img(src="img/support/bn1.jpg", alt="")
							.caption
								.title Biểu phí
								.name Thẻ tín dụng quốc tế 
									strong Vietbank VISA My Style 
								a.btn-download(href="#!") Tải PDF