section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Sản phẩm
	.page-banner
		.banner-img
			img(src="img/breadcrumb/1.jpg", alt="")
		.container
			.banner-caption
				.big Sản phẩm
				.des Không ngừng nâng cao chất lượng về mọi mặt để trở thành một trong những thương hiệu có uy tín trong lĩnh vực tài chính ngân hàng tại Việt Nam.
section.product-section
	.container
		h1.home-title.text-center Các sản phẩm thẻ tín dụng quốc tế
		.home-content.text-center(style="max-width:680px")
			.content Mang đến cho Quý khách hàng những lựa chọn đa dạng về sản phẩm thẻ tín dụng Quốc tế với tiện ích vượt trội như chi tiêu trước, trả tiền sau, ưu đãi miễn lãi lên tới 55 ngày, v.v
		.product-list
			.row.justify-content-center
				.col-12.col-md-6
					.product
						a.product-img(href="#!")
							img(src="img/product/1.png", alt="")
						.product-btn
							a.btn-viewdetail(href="#!") Xem chi tiết
				.col-12.col-md-6
					.product
						a.product-img(href="#!")
							img(src="img/product/2.png", alt="")
						.product-btn
							a.btn-viewdetail(href="#!") Xem chi tiết
				.col-12
					.product
						a.product-img.mb-4(href="#!")
							img(src="img/product/3.png", alt="")
						.product-btn
							a.btn-viewdetail(href="#!") Xem chi tiết