section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Sản phẩm
				li
					a(href="#!")
						span Thẻ tín dụng Vietbank Platinum
	.page-banner
		.banner-img
			img(src="img/breadcrumb/2.jpg", alt="")
		//- .container
			.banner-caption
				.big Sản phẩm
				.des Không ngừng nâng cao chất lượng về mọi mặt để trở thành một trong những thương hiệu có uy tín trong lĩnh vực tài chính ngân hàng tại Việt Nam.
section.home-card
	.container
		.card-slick
			.item
				a.card-item(href="#!")
					figure
						.card-img
							img(src="img/home/c1.png", alt="")
						figcaption
							.card-logo
								img(src="img/home/visa.png", alt="")
							.card-name Visa luxury platinum
							.card-des Dòng thẻ đẳng cấp, cao cấp nhất
			.item
				a.card-item(href="#!")
					figure
						.card-img
							img(src="img/home/c2.png", alt="")
						figcaption
							.card-logo
								img(src="img/home/visa.png", alt="")
							.card-name Visa luxury platinum
							.card-des Dòng thẻ đẳng cấp, cao cấp nhất
			.item
				a.card-item(href="#!")
					figure
						.card-img
							img(src="img/home/c3.png", alt="")
						figcaption
							.card-logo
								img(src="img/home/visa.png", alt="")
							.card-name Visa luxury platinum
							.card-des Dòng thẻ đẳng cấp, cao cấp nhất
section.product-page
	.product-detail
		.product-bg
			img(src="img/product/bg2.png", alt="")
		.container
			h2.product-cate.home-des.text-center Thẻ tín dụng
			h1.product-name.home-title.text-center Vietbank Platinum
			.product-img.text-center
				img(src="img/product/p2.png", alt="")
	.product-feature
		.container
			.row
				.col-12.col-md-6
					.img.text-center
						img.w-100(src="img/product/img1.jpg", alt="")
				.col-12.col-md-6
					.feature-content
						.product-title Tính năng Microsite
						.content
							p Dịch vụ tốt với các tính năng tiện dụng Microsite máy để bàn, thiết bị di động giúp người sử dụng quản lý thẻ dễ dàng mà không cần đến các chi nhánh ngân hàng Vietbank.
						.feature
							.icon
								img(src="img/product/i1.png", alt="")
							.name Đăng ký thẻ online
						.feature
							.icon
								img(src="img/product/i2.png", alt="")
							.name Kích hoạt thẻ
						.feature
							.icon
								img(src="img/product/i3.png", alt="")
							.name Xem sao kê trực tuyến
						.btn-wrap
							a.btn-viewmore(href="#!") Xem thêm
	.product-limit
		.product-img
			img(src="img/product/img4.png", alt="")
		.container
			.limit-content
				.product-title không giới hạn thẻ phụ
				.content
					p Bạn có thể đăng ký thẻ phụ không giới hạn, đây là sản phẩm mà bạn có thể chia sẻ cho những người thân trong gia đinh khi mua sắm, học tập, ăn uống, du lịch...
				.img
					img(src="img/product/img3.png", alt="")
	.product-promotion
		.container
			h2.product-title.text-center Ưu đãi đặc biệt dành cho chủ thẻ
			.promotion-list
				.row
					.col-12.col-md-6
						.promotion
							figure
								.promotion-img
									img(src="img/product/pr1.jpg", alt="")
								figcaption
									.promotion-name Chăm sóc khách hàng 24/7
									.promotion-des Dịch vụ chăm sóc khách hàng 1800 1122 của Vietbank hỗ trợ các yêu cầu dịch vụ giải đáp thắc mắc suốt 24 giờ mỗi ngày, từ đặt chỗ máy bay cho đến tư vấn khách hàng.
					.col-12.col-md-6
						.promotion
							figure
								.promotion-img
									img(src="img/product/pr2.jpg", alt="")
								figcaption
									.promotion-name Bảo hiểm tai nạn toàn cầu
									.promotion-des Bảo hiểm tai nạn toàn cầu đối với Chủ thẻ chính. Và các loại bảo hiểm khác được Vietbank quy định trong từng thời kỳ.
					.col-12.col-md-6
						.promotion
							figure
								.promotion-img
									img(src="img/product/pr3.jpg", alt="")
								figcaption
									.promotion-name Hỗ trợ khách hàng toàn cầu
									.promotion-des Trong trường hợp thẻ của quý khách bị thất lạc hoặc mất cắp, Vietbank sẽ hỗ trợ khóa tài khoản, cung ứng thẻ thay thế và cung ứng tiền mặt khẩn cấp.
					.col-12.col-md-6
						.promotion
							figure
								.promotion-img
									img(src="img/product/pr4.jpg", alt="")
								figcaption
									.promotion-name Thế giới golf
									.promotion-des Với gói ưu đãi đặc biệt dành cho chủ thẻ chính,  sử dụng thẻ để được hưởng ưu đãi tốt nhất trên 100 sân Golf trên toàn lãng thổ việt Nam.
	.product-register
		.container
			.register-wrap
				.register-intro
					.module-title đăng ký ngay để nhận hàng trăm ưu đãi từ thẻ Platinum 
					a.btn-register(href="#!") Đăng ký thẻ
				.register-pr
					img(src="img/product/p2e.png", alt="")
