section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Trả góp
				li
					a(href="#!")
						span Trả góp dư nợ
section.banner-wrap
	.banner.home-banner
		.item
			a.banner-img(href="#!")
				img(src="img/breadcrumb/5.jpg", alt="")
section.promotion-page.s3
	.container
		h1.home-title.text-uppercase.text-black.text-center Trả góp dư nợ
		.home-content.text-center(style="max-width:550px")
			.content
				img(src="img/tragop/img1.png", alt="")
				p Chủ thẻ thực hiện trả góp đối với dư nợ thẻ
					br
					|(Gồm dư nợ của các giao dịch, các phí và lãi phát sinh)
		.tragop-content1
			.content
				.row
					.col-12.col-md-4
						.tragop-img
							figure
								img(src="img/tragop/img2.png", alt="")
								figcaption
									h4 Hàng hóa
					.col-12.col-md-4
						.tragop-img
							figure
								img(src="img/tragop/img2-1.png", alt="")
								figcaption
									h4 Dịch vụ
					.col-12.col-md-4
						.tragop-img
							figure
								img(src="img/tragop/img2-2.png", alt="")
								figcaption
									h4 Chi tiêu tiền mặt
				hr.line.mb-4
				.text-center
					h4.text-uppercase.mb-2
						strong Giá trị của giao dịch trả góp
					p.mb-0 Tối thiểu
					h3.text-red.mb-4
						strong 10.000.000 VNĐ
				hr.line.mb-5
				h4.text-center.text-uppercase.mb-4
					strong Tham gia chương trình trả góp bằng các hình thức
				.row
					.col-12.col-sm-6.col-md-3
						.hinhthuc.text-center.mb-4
							.name.text-blue.mb-4
								strong Đối tác liên kết Vietbank
							.img
								img(src="img/tragop/hinhthuc1.png", alt="")
					.col-12.col-sm-6.col-md-3
						.hinhthuc.text-center.mb-4
							.name.text-blue.mb-4
								strong Microsite
							.img
								img(src="img/tragop/hinhthuc2.png", alt="")
					.col-12.col-sm-6.col-md-3
						.hinhthuc.text-center.mb-4
							.name.text-blue.mb-4
								strong Quầy giao dịch
							.img
								img(src="img/tragop/hinhthuc3.png", alt="")
					.col-12.col-sm-6.col-md-3
						.hinhthuc.text-center.mb-4
							.name.text-blue.mb-4
								strong Trung tâm DV KH
							.img
								img(src="img/tragop/hinhthuc4.png", alt="")
		.tragop-range
			.module-title (Ví dụ bạn lựa chọn số tiền trả góp theo nhu cầu của bạn)
			.tragop-cycle
				label Kỳ hạn trả góp:
				select
					option 12 tháng
			.range-slider
				img(src="img/tragop/range.png", alt="")
			.range-result Tiền trả góp hàng tháng:
				strong 1.000.000 VNĐ
			