section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Ưu đãi
				li
					a(href="#!")
						span Chương trình khuyến mãi
section.banner-wrap
	.banner.home-banner
		.item
			a.banner-img(href="#!")
				img(src="img/breadcrumb/5.jpg", alt="")
section.promotion-page.s3
	.container
		h1.home-title.text-uppercase.text-black.text-center Trả góp giao dịch
		.home-content.text-center(style="max-width:550px")
			.content
				img(src="img/tragop/img1.png", alt="")
				p Chủ thẻ thực hiện trả góp đối với các giao dịch thanh toán
		.tragop-content1
			.content
				.row
					.col-12.col-md-6
						.tragop-img
							figure
								img(src="img/tragop/img2.png", alt="")
								figcaption
									h4 Hàng hóa
					.col-12.col-md-6
						.tragop-img
							figure
								img(src="img/tragop/img2-1.png", alt="")
								figcaption
									h4 Dịch vụ
				hr.line.mb-4
				.text-center
					h4.text-uppercase.mb-2
						strong Giá trị của giao dịch trả góp
					p.mb-0 Tối thiểu
					h3.text-red.mb-4
						strong 3.000.000 VNĐ
				hr.line.mb-5
				h4.text-center.text-uppercase.mb-4
					strong Tham gia chương trình trả góp bằng các hình thức
				.row
					.col-12.col-sm-6.col-md-3
						.hinhthuc.text-center.mb-4
							.name.text-blue.mb-4
								strong Đối tác liên kết Vietbank
							.img
								img(src="img/tragop/hinhthuc1.png", alt="")
					.col-12.col-sm-6.col-md-3
						.hinhthuc.text-center.mb-4
							.name.text-blue.mb-4
								strong Microsite
							.img
								img(src="img/tragop/hinhthuc2.png", alt="")
					.col-12.col-sm-6.col-md-3
						.hinhthuc.text-center.mb-4
							.name.text-blue.mb-4
								strong Quầy giao dịch
							.img
								img(src="img/tragop/hinhthuc3.png", alt="")
					.col-12.col-sm-6.col-md-3
						.hinhthuc.text-center.mb-4
							.name.text-blue.mb-4
								strong Trung tâm DV KH
							.img
								img(src="img/tragop/hinhthuc4.png", alt="")