section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Ưu đãi
				li
					a(href="#!")
						span Happy day
section.banner-wrap
	.banner.home-banner(style="background: #005baa")
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
section.landing-section
	.container
		.card-drop
			img(src="img/landing/drop.png", alt="")
		.row
			.col-12.col-md-8.col-lg-7
				h1.home-title Ưu đãi khi mở thẻ
				.content
					ul.flower
						li Miễn phí thường niên năm đầu tiên cho tất cả khách hàng đăng ký thẻ thành công trong thời gian chương trình.
						li 
							p.mb-2 Miễn phí thường niên năm đầu tiên cho các sản phẩm cá nhân, bao gồm:
							ul
								li SMS Banking
								li Mobile Banking
								li Internet Banking
								li Phí quản lý tài khoản
						li CBNV Vietbank được ưu đãi miễn phí cho 03 giao dịch rút tiền mặt đầu tiên
section.landing-time
	.container
		.row
			.col-12.col-md-6
				.img.text-center
					img(src="img/landing/time.png", alt="")
			.col-12.col-md-6
				.time-content
					h2.home-title.text-center Thời gian khuyến mãi
					.content.text-center
						p.mb-1 Thời gian khuyến mãi:
						h3.mb-4
							strong 01/09/2017 - 30/11/2017
						p.mb-1 Phạm vi khuyến mãi:
						h3.text-uppercase
							strong Toàn quốc
section.landing-award
	.container
		.row
			.col-12.col-lg-7
				h2.home-title.text-white Điều kiện trúng giải
				.content.text-white
					p Với mỗi 1,000,000 VNĐ doanh số giao dịch, chủ thẻ nhận được 01 lượt quay tham gia "Vòng quay triệu phú" với các giải thưởng sau:
					.award-table.mb-4
						table
							tr
								th 1.600 giải
								td Tặng 20,000 VNĐ vào tài khoản thẻ tín dụng của KH
							tr
								th 1.000 giải
								td Tặng 50,000 VNĐ vào tài khoản thẻ tín dụng của KH
							tr
								th 500 giải
								td Tặng 100,000 VNĐ vào tài khoản thẻ tín dụng của KH
							tr
								th 200 giải
								td Tặng 150,000 VNĐ vào tài khoản thẻ tín dụng của KH
							tr
								th 80 giải
								td Tặng 200,000 VNĐ vào tài khoản thẻ tín dụng của KH
							tr
								th 16 giải
								td Tặng 1,000,000 VNĐ vào tài khoản thẻ tín dụng của KH
							tr
								th 4 giải nhì
								td Tặng tiền tương ứng 100% dư nợ thẻ hiện tại của KH
							tr
								th 2 giải nhất
								td Tặng iphone 8
							tr
								th 1 giải đặc biệt
								td Tặng xe Honda Lead
					p(style="color: #999;line-height:1.2;font-size:14px")
						em *Lưu ý: việc quay số sẽ do chính KH thực hiện trên giao diện Vòng quay được tích hợp trên ứng dụng Microsite. KH có thể dễ dàng quản lý việc quay thưởng: số lượng lượt quay còn lại, lịch sử quay thưởng, số lượng giải thưởng còn lại. Mọi thông tin sẽ được cập nhật real time
			.col-12.col-lg-5
				.img.text-center
					img(src="img/landing/altp.png", alt="")
section.landing-policy
	.container
		h2.home-title.text-black.text-center.mb-2 Thể lệ chương trình
		.content.text-center.mb-4
			p Tham khảo thêm thẻ lệ chương trình trúng và nhận giải thưởng “ Vòng quay triệu phú”
		.btn-wrap.text-center
			a.btn-viewdetail(href="#!") Xem chi tiết