section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Ưu đãi
				li
					a(href="#!")
						span Chương trình khuyến mãi
section.banner-wrap
	.banner.home-banner
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
section.promotion-page.s2
	.container
		h1.home-title.text-center.mb-2 Chương trình khuyến mãi
		.home-content.text-center(style="max-width: 550px")
			.content
				p Thật bất ngờ khi sử dụng  thẻ tín dụng Vietbank VISA, khách hàng có hàng ngàn cơ hội nhận được các gải thưởng hấp dẫn.
		.sale-list
			.sale
				figure
					a.sale-img(href="#!")
						img(src="img/landing/s1.jpg", alt="")
					figcaption
						h2.sale-name 
							a(href="#!") thêm bạn thêm quà.
						.sale-des Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
						.sale-btn
							a.btn-viewdetail(href="#!") Xem chi tiết
			.sale
				figure
					a.sale-img(href="#!")
						img(src="img/landing/s1.jpg", alt="")
					figcaption
						h2.sale-name 
							a(href="#!") thêm bạn thêm quà.
						.sale-des Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
						.sale-btn
							a.btn-viewdetail(href="#!") Xem chi tiết
			.sale
				figure
					a.sale-img(href="#!")
						img(src="img/landing/s1.jpg", alt="")
					figcaption
						h2.sale-name 
							a(href="#!") thêm bạn thêm quà.
						.sale-des Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
						.sale-btn
							a.btn-viewdetail(href="#!") Xem chi tiết
			.sale
				figure
					a.sale-img(href="#!")
						img(src="img/landing/s1.jpg", alt="")
					figcaption
						h2.sale-name 
							a(href="#!") thêm bạn thêm quà.
						.sale-des Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. 
						.sale-btn
							a.btn-viewdetail(href="#!") Xem chi tiết
		.pages
			ul.pagination
				li.prev
					a(href="#!")
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4
				li.next
					a(href="#!")