section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Ưu đãi
				li
					a(href="#!")
						span Ưu đãi hoàn tiền
section.banner-wrap
	.banner.home-banner
		.item
			a.banner-img(href="#!")
				img(src="img/breadcrumb/3.jpg", alt="")
section.promotion-page
	.container
		h1.d-none Hoàn tiền trên mỗi giao dịch
		.ht-title.img.text-center
			img(src="img/landing/ht.png", alt="")
		.promotion-list
			.row.no-gutters
				.col-12.col-lg-6
					.promotion-product
						.product.text-center
							img(src="img/landing/p1.png", alt="")
						.title.text-center hoàn tiền giao dịch
						.des.text-center Hoàn lên đến
							strong 1%
							| Tối đa/VND
							strong 60.000
						.content.text-center
							p.mb-0 Lưu ý giá trị hoàn tiền tối đa mỗi tháng không quá 
								span.text-red 700.000VND
							p.text-silver(style="font-size:14px") (Ví dụ: Hoàn 10 đồng khi chi tiêu 1.000 đồng, tối đa 60.000 đồng.)
						.value-slider
							img(src="img/landing/range.png", alt="")
						.value-table
							table
								tr
									th Tiền chi tiêu:
									td 5.000.000 VND
								tr
									th Số tiền hoàn:
									td 5.000.000 VND
								tr
									th Hoàn tối đa/ngày
									td 5.000.000 VND
				.col-12.col-lg-6
					.promotion-product
						.product.text-center
							img(src="img/landing/p2.png", alt="")
						.title.text-center hoàn tiền giao dịch
						.des.text-center Hoàn lên đến
							strong 1%
							| Tối đa/VND
							strong 60.000
						.content.text-center
							p.mb-0 Lưu ý giá trị hoàn tiền tối đa mỗi tháng không quá 
								span.text-red 700.000VND
							p.text-silver(style="font-size:14px") (Ví dụ: Hoàn 10 đồng khi chi tiêu 1.000 đồng, tối đa 60.000 đồng.)
						.value-slider
							img(src="img/landing/range.png", alt="")
						.value-table
							table
								tr
									th Tiền chi tiêu:
									td 5.000.000 VND
								tr
									th Số tiền hoàn:
									td 5.000.000 VND
								tr
									th Hoàn tối đa/ngày
									td 5.000.000 VND