section.breadcrumb-wrap
	.breadcrumb-content
		.container
			ol.breadcrumb
				li
					a(href="#!")
						span Thẻ
				li
					a(href="#!")
						span Ưu đãi
				li
					a(href="#!")
						span Chương trình khuyến mãi
section.banner-wrap
	.banner.home-banner
		.item
			a.banner-img(href="#!")
				img(src="img/landing/bn1.jpg", alt="")
section.promotion-page.s2
	.container
		h1.home-title.text-uppercase.text-black.text-center.mb-2 Chương trình trả góp 0%
		.home-content.text-center(style="max-width:550px")
			.content
				p Mua sắm thoả thích, thanh toán dễ dàng với dịch vụ chuyển đổi giao dịch chi tiêu trên thẻ tín dụng Vietbank tại hơn 70 đối tác thanh khoản trả góp 0% lãi suất, 0 phí chuyển đổi với quy trình đăng ký trực tuyến thật đơn giản để tham gia.
		.tragop-content
			.content
				ul.number
					li 
						.number 1
						p.mb-0 
							strong Lựa chọn đối tác Vietbank. Vui lòng xác nhận với nhân viên cửa hàng về việc tham gia trả góp 0% trước khi thanh toán.
					li 
						.number 2
						p.mb-0 
							strong Sau khi mua sản phẩm xx ngày nhắn “x” gửi xxx để Đăng ký chương trình Trả góp 0% lãi suất, điền thông tin giao dịch và đồng ý với điều khoản và điều kiện của chương trình, sau đó bấm “Gửi yêu cầu”
					li 
						.number 3
						p.mb-0 
							strong Kiểm tra thông tin khoản trả góp trên sao kê thẻ tín dụng kỳ kế tiếp. Khoản trả góp City Paylife được thể hiện trên sao kê hàng tháng trong suốt kỳ hạn thanh toán.
				p * Nếu bạn không thể gửi yêu cầu hoặc yêu cầu của bạn không được thực hiện, xin 
					a.text-blue(href="#!") liên hệ 
					|với chúng tôi để được trợ giúp.
		h2.small-title.text-uppercase Danh sách đối tác liên kết trả góp 0%
		.bank-table
			table.table1
				tr
					td 
						.bank
							.logo
								img(src="img/landing/bank.png", alt="")
							.des-table
								table
									tr
										td Kỳ hạn áp dụng:
										td 
											strong 6 tháng, 12 tháng
									tr
										td Thời gian áp dụng:
										td 
											strong từ 24/12/2018 đến 24/12/2020
									tr
										td Giao dịch tối thiểu:
										td 
											strong 3.000.000 đồng
									tr
										td Địa chỉ áp dụng:
										td 
											strong Tất cả các chi nhánh Nguyễn Kim
									tr
										td Website:
										td 
											a(href="#!")
												strong https://www.nguyenkim.com
					td 
						.bank
							.logo
								img(src="img/landing/bank.png", alt="")
							.des-table
								table
									tr
										td Kỳ hạn áp dụng:
										td 
											strong 6 tháng, 12 tháng
									tr
										td Thời gian áp dụng:
										td 
											strong từ 24/12/2018 đến 24/12/2020
									tr
										td Giao dịch tối thiểu:
										td 
											strong 3.000.000 đồng
									tr
										td Địa chỉ áp dụng:
										td 
											strong Tất cả các chi nhánh Nguyễn Kim
									tr
										td Website:
										td 
											a(href="#!")
												strong https://www.nguyenkim.com
				tr
					td 
						.bank
							.logo
								img(src="img/landing/bank.png", alt="")
							.des-table
								table
									tr
										td Kỳ hạn áp dụng:
										td 
											strong 6 tháng, 12 tháng
									tr
										td Thời gian áp dụng:
										td 
											strong từ 24/12/2018 đến 24/12/2020
									tr
										td Giao dịch tối thiểu:
										td 
											strong 3.000.000 đồng
									tr
										td Địa chỉ áp dụng:
										td 
											strong Tất cả các chi nhánh Nguyễn Kim
									tr
										td Website:
										td 
											a(href="#!")
												strong https://www.nguyenkim.com
					td 
						.bank
							.logo
								img(src="img/landing/bank.png", alt="")
							.des-table
								table
									tr
										td Kỳ hạn áp dụng:
										td 
											strong 6 tháng, 12 tháng
									tr
										td Thời gian áp dụng:
										td 
											strong từ 24/12/2018 đến 24/12/2020
									tr
										td Giao dịch tối thiểu:
										td 
											strong 3.000.000 đồng
									tr
										td Địa chỉ áp dụng:
										td 
											strong Tất cả các chi nhánh Nguyễn Kim
									tr
										td Website:
										td 
											a(href="#!")
												strong https://www.nguyenkim.com
				tr
					td 
						.bank
							.logo
								img(src="img/landing/bank.png", alt="")
							.des-table
								table
									tr
										td Kỳ hạn áp dụng:
										td 
											strong 6 tháng, 12 tháng
									tr
										td Thời gian áp dụng:
										td 
											strong từ 24/12/2018 đến 24/12/2020
									tr
										td Giao dịch tối thiểu:
										td 
											strong 3.000.000 đồng
									tr
										td Địa chỉ áp dụng:
										td 
											strong Tất cả các chi nhánh Nguyễn Kim
									tr
										td Website:
										td 
											a(href="#!")
												strong https://www.nguyenkim.com
					td 
						.bank
							.logo
								img(src="img/landing/bank.png", alt="")
							.des-table
								table
									tr
										td Kỳ hạn áp dụng:
										td 
											strong 6 tháng, 12 tháng
									tr
										td Thời gian áp dụng:
										td 
											strong từ 24/12/2018 đến 24/12/2020
									tr
										td Giao dịch tối thiểu:
										td 
											strong 3.000.000 đồng
									tr
										td Địa chỉ áp dụng:
										td 
											strong Tất cả các chi nhánh Nguyễn Kim
									tr
										td Website:
										td 
											a(href="#!")
												strong https://www.nguyenkim.com
		h2.small-title.text-uppercase Bản tính trả góp
		.tragop-form
			.module-title Nhập giá trị giao dịch của bạn***
				span (tối thiểu 1 triệu VND)
			.form-group
				label(for="") Số tiền
				input(type="text")
			.form-group
				label(for="") kỳ hạn
				select(name="")
					option(value="") 12 tháng
			.form-group.result
				label Khoản trả góp hàng tháng:
				.value
					strong 0
					|VNĐ
		h2.small-title.text-uppercase Chương trình trả hóp 0% lãi xuất Vietbank Visa
		.tragop-feature
			.row
				.col-12.col-md-4.feature
					.icon
						img(src="img/landing/i1.png", alt="")
					.des Áp dụng cho tất cả Chủ thẻ chính Thẻ Tín Dụng Vietbank đăng ký tham gia Chương trình trả góp 0%
				.col-12.col-md-4.feature
					.icon
						img(src="img/landing/i2.png", alt="")
					.des - Thanh toán giao dịch bằng Thẻ Tín Dụng Vietbank của bạn
						br
						|- Giao dịch tham gia trả góp sẽ không được tham gia các chương trình khác của Vietbank
				.col-12.col-md-4.feature
					.icon
						img(src="img/landing/i3.png", alt="")
					.des Ấp dụng cho giao dịch có giá trị tối thiểu 1 triệu VND tuỳ đối tác.