section.banner-wrap
	.banner.home-banner
		.item
			a.banner-img(href="#!")
				img(src="img/banner/1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/banner/1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/banner/1.jpg", alt="")
		.item
			a.banner-img(href="#!")
				img(src="img/banner/1.jpg", alt="")
