footer
	.footer-top
		.container
			.row
				.col-6.col-md-4.col-lg-2
					.footer-col
						.footer-title Giới thiệu
						nav.footer-link
							a(href="#!") Giới thiệu
							a(href="#!") Ban lãnh đạo
							a(href="#!") Tin tức
							a(href="#!") Tuyển dụng
							a(href="#!") Cổ đông
							a(href="#!") Ngân hàng đại lý
				.col-6.col-md-4.col-lg-2
					.footer-col
						.footer-title Cá nhân
						nav.footer-link
							a(href="#!") Cho vay
							a(href="#!") Tiền gửi tiết kiệm
							a(href="#!") Ngân hàng trực tuyến
							a(href="#!") Dịch vụ
							a(href="#!") Tiền gửi thanh toán
				.col-6.col-md-4.col-lg-2
					.footer-col
						.footer-title Doanh nghiệp
						nav.footer-link
							a(href="#!") Cho vay
							a(href="#!") Tiền gửi
							a(href="#!") Ngân hàng trực tuyến
							a(href="#!") Dịch vụ quản lý dòng tiền
							a(href="#!") Dịch vụ thu ngân sách nhà nước
							a(href="#!") Chuyển tiền quốc tế
							a(href="#!") Tài trợ thương mại
				.col-6.col-md-4.col-lg-2
					.footer-col
						.footer-title Tin tức
						nav.footer-link
							a(href="#!") Tin Vietbank
							a(href="#!") Tin khuyến mãi
				.col-12.col-md-8.col-lg-4
					.footer-col 
						.footer-title Đăng ký nhận bản tin
						.module-title Đăng ký nhận tin từ Vietbank
						.subscribefrm
							input(type="text" placeholder="Nhập địa chỉ email của bạn...")
							button.subscribebutton Đăng ký
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
	.footer-bottom
		.container
			.footer-wrap
				.footer-address 47 Trần Hưng Đạo, thành phố Sóc Trăng, Tỉnh Sóc Trăng. Giấy phép số 135/GP-CBC ngày 07/04/2008 - SWIFT Code: VNTTVNVX
				.copyright @ 2016 VietBank. All rights reserved.