header
	.header-top
		.container
			.header-wrap
				nav.page-nav
					.toggle-pagenav
					ul
						li
							a(href="#!") Cá nhân
						li
							a(href="#!") Doanh nghiệp
						li.active
							a(href="#!") Thẻ
						li
							a(href="#!") Về Vietbank
				.header-tool
					.branch.d-none.d-md-block
						a(href="#!") <i class="fa fa-map-marker" aria-hidden="true"></i>ATMs & Chi nhánh
					.hotline.d-none.d-md-block
						a(href="tel:1800 1122") <i class="fa fa-phone" aria-hidden="true"></i>Hotline: 1800 1122
					.search.d-none.d-lg-block
						.search-wrap
							.searchbox
								input(type="text")
								button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
					.language
						a(href="#!") English
	.header-main
		.container
			.header-wrap
				.btn-showmenu <i class="material-icons">menu</i>
				.overlay
				.sitelogo
					a(href="index.html")
						img(src="img/logo.png", alt="")
				.search.d-block.d-lg-none
					.search-toggle <i class="material-icons">search</i>
					.search-wrap
						.searchbox
							input(type="text")
							button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
				//- .col-right
				.menu
					.btn-closemenu <i class="material-icons">close</i>
					.menu-logo
						.sitelogo
							a(href="index.html")
								img(src="img/logo.png", alt="")
					.menu-wrap
						ul.menu-link
							li.has-sub.active
								a(href="#!") Sản phẩm
							li.has-sub
								a(href="#!") Ưu đãi
							li.has-sub
								a(href="#!") Trả góp
							li.has-sub
								a(href="#!") Hỗ trợ
								.btn-showsub
								.sub
									ul
										li
											a(href="#!") Câu hỏi thường gặp
										li.active
											a(href="#!") Tỷ giá
										li
											a(href="#!") Lãi suất
										li
											a(href="#!") Lãi suất cơ sở
										li
											a(href="#!") Biểu mẫu
										li
											a(href="#!") Biểu phí
										li
											a(href="#!") Công cụ tính toán
										li
											a(href="#!") Truy vấn sổ tiết kiệm
					.ebanking
						a(href="#!") <i class="fa fa-unlock-alt" aria-hidden="true"></i> Ngân hàng trực tuyến
					.branch.d-block.d-md-none
						a(href="#!") <i class="fa fa-map-marker" aria-hidden="true"></i>ATMs & Chi nhánh
					.hotline.d-block.d-md-none
						a(href="tel:1800 1122") <i class="fa fa-phone" aria-hidden="true"></i>Hotline: 1800 1122
section.tool
	nav.tool-link
		ul
			li 
				i.fa.fa-usd
				a(href="tygia.html", title="title") Tỷ giá
			li 
				i.fa.fa-map-marker
				a(href="mangluoi.html", title="title") Mạng lưới
			li 
				i.fa.fa-file-text-o
				a(href="#", title="title") Biểu mẫu
			li 
				i.fa.fa-gift
				a(href="#", title="title") Khuyến mãi
			li 
				i.fa.fa-comments-o
				a(href="#", title="title") Hỗ trợ
			li 
				i.fa.fa-phone
				a(href="#", title="title") Liên hệ