extends _layout/layout

block variables
	- var title = "VietBank"
	- var bodyclass = "homepage"

block body 
	include _layout/header
	include _layout/banner
	main
		include _pages/ct-home
	include _layout/footer