footer
	.footer-top
		.container
			.footer-wrap
				.item
					.footer-col
						.sitelogo
							a(href="#!")
								img(src="img/logo.png", alt="")
						.company Công ty TNHH Thương mại và dịch vụ TECHZONES
						.site-feature
							.feature
								.icon
									<i class="material-icons">credit_card</i>
								.des Trả góp lãi xuất 0%
							.feature
								.icon
									<i class="material-icons">local_shipping</i>
								.des Miễn phí vận chuyển
							.feature
								.icon
									<i class="material-icons">settings_backup_restore</i>
								.des Đổi trả trong 15 ngày
						ul.contact-info
							li
								strong Địa chỉ: 
								| Khuôn viên cà phê Tinh Tế 209 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp.HCM 
							li
								strong Tel: 
								a(href="tel:(028) 62848668") (028) 62848668
							li
								strong Email: 
								a(href="mailto:tannguyen@techzones.vn") tannguyen@techzones.vn
							li Giấy phép số 0313707005 do Sở Kế Hoạch và Đầu Tư cấp ngày 21.03.2016
				.item
					.footer-col
						.footer-title Về Techzones
						nav.footer-link
							a(href="#!") Điều khoản sử dụng
							a(href="#!") Chính sách bảo mật
							a(href="#!") Giới thiệu
							a(href="#!") Tin tức
							a(href="#!") Liên hệ
							a(href="#!") Sơ đồ site
				.item
					.footer-col
						.footer-title Hỗ trợ khách hàng
						nav.footer-link
							a(href="#!") Phương thức đặt hàng
							a(href="#!") Phương thức giao hàng
							a(href="#!") Phương thức thanh toán
							a(href="#!") Chính sách đổi trả hàng
							a(href="#!") Trung tâm khách hàng
							a(href="#!") Quy định bảo hành
				.item
					.footer-col
						.footer-title Phương thức thanh toán
						.payment-icon
							.icon
								img(src="img/p1.png", alt="")
							.icon
								img(src="img/p2.png", alt="")
							.icon
								img(src="img/p3.png", alt="")
							.icon
								img(src="img/p4.png", alt="")
							.icon
								img(src="img/p5.png", alt="")
							.icon
								img(src="img/p6.png", alt="")
						.bct
							img(src="img/bct.png", alt="")
				.item
					.footer-col
						.footer-title Kết nối với chúng tôi
						.social
							a(href="#!")
								img(src="img/facebook.png", alt="")
							a(href="#!")
								img(src="img/youtube.png", alt="")
							a(href="#!")
								img(src="img/zalo.png", alt="")
	.container
		.footer-bottom
			.copyright © Copyright 2018 Techzones. All rights reserved
