.container
	.flash-news
		.flash-news-label <i class="fa fa-bolt" aria-hidden="true"></i>
			span Tin hot	
		.flash-news-slick
			.item
				a.news(href="#!") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere amet sunt reiciendis commodi dolores molestias.
			.item
				a.news(href="#!") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere amet sunt reiciendis.
			.item
				a.news(href="#!") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere amet sunt reiciendis commodi dolores.
			.item
				a.news(href="#!") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere amet sunt reiciendis commodi.
	.hot-news
		.row
			.col-12