.container
	.row.row-s
		.col-12.col-lg-8
			section.banner-wrap.home-banner
				.banner-slide
					.item
						a.banner-img(href="#!")
							img(src="img/banner/1.png", alt="")
					.item
						a.banner-img(href="#!")
							img(src="img/banner/1.png", alt="")
					.item
						a.banner-img(href="#!")
							img(src="img/banner/1.png", alt="")
					.item
						a.banner-img(href="#!")
							img(src="img/banner/1.png", alt="")
					.item
						a.banner-img(href="#!")
							img(src="img/banner/1.png", alt="")
					.item
						a.banner-img(href="#!")
							img(src="img/banner/1.png", alt="")
				.banner-nav
					.item
						.banner-des Đặt OPPO Find X nhận quà siêu xịn
					.item
						.banner-des Đặt OPPO Find X nhận quà siêu xịn
					.item
						.banner-des Đặt OPPO Find X nhận quà siêu xịn
					.item
						.banner-des Đặt OPPO Find X nhận quà siêu xịn
					.item
						.banner-des Đặt OPPO Find X nhận quà siêu xịn
					.item
						.banner-des Đặt OPPO Find X nhận quà siêu xịn
		.col-12.col-lg-4
			section.home-video
				.home-title 
					a(href="#!") Video mới nhất
				.video-wrap
					//- .video-big
						<iframe width="100%" height="230px" src="https://www.youtube.com/embed/qZqpt-Ur2Dw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						.video-des
							.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
							.video-view 3:5 - 4.103 Lượt xem
					.video-list
						a.video(href="#!")
							figure
								.video-img
									img(src="img/video/1.jpg", alt="")
								figcaption
									.video-des
										.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
										.video-view 3:5 - 4.103 Lượt xem
						a.video(href="#!")
							figure
								.video-img
									img(src="img/video/1.jpg", alt="")
								figcaption
									.video-des
										.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
										.video-view 3:5 - 4.103 Lượt xem
						a.video(href="#!")
							figure
								.video-img
									img(src="img/video/1.jpg", alt="")
								figcaption
									.video-des
										.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
										.video-view 3:5 - 4.103 Lượt xem
						a.video(href="#!")
							figure
								.video-img
									img(src="img/video/1.jpg", alt="")
								figcaption
									.video-des
										.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
										.video-view 3:5 - 4.103 Lượt xem
						a.video(href="#!")
							figure
								.video-img
									img(src="img/video/1.jpg", alt="")
								figcaption
									.video-des
										.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
										.video-view 3:5 - 4.103 Lượt xem
						a.video(href="#!")
							figure
								.video-img
									img(src="img/video/1.jpg", alt="")
								figcaption
									.video-des
										.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
										.video-view 3:5 - 4.103 Lượt xem
						a.video(href="#!")
							figure
								.video-img
									img(src="img/video/1.jpg", alt="")
								figcaption
									.video-des
										.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
										.video-view 3:5 - 4.103 Lượt xem
						a.video(href="#!")
							figure
								.video-img
									img(src="img/video/1.jpg", alt="")
								figcaption
									.video-des
										.video-name PC GAMING AORUS | Chiêm ngưỡng siêu phẩm " Thần chim" dưới 30 triệu ???
										.video-view 3:5 - 4.103 Lượt xem
		.col-12