section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Tin tức
.container
	section.news-category
		.category-wrap
			.category-list
				.item.active
					a.category-item(href="#!")
						.img
							img(src="img/news/10.jpg", alt="")
						.caption
							.name Thủ thuật sử dụng
				.item
					a.category-item(href="#!")
						.img
							img(src="img/news/5.jpg", alt="")
						.caption
							.name Kiến thức mua hàng
				.item
					a.category-item(href="#!")
						.img
							img(src="img/news/6.jpg", alt="")
						.caption
							.name Review sản phẩm
				.item
					a.category-item(href="#!")
						.img
							img(src="img/news/9.jpg", alt="")
						.caption
							.name Tin thị trường
				.item
					a.category-item(href="#!")
						.img
							img(src="img/news/8.jpg", alt="")
						.caption
							.name Tin khuyến mãi
	section.news-page
		.news-detail
			.news-info
				h1.news-name Google sẽ mất 50 triệu USD nếu Fortnite "tạm biệt" Play Store
				time 12/08/2018
				.share
					img(src="img/share.jpg", alt="")
			.content
				.text-center
					img(src="https://cdn.tgdd.vn/Files/2018/08/12/1108796/fortnite-screenshot-_1390x814-800-resize.jpg", alt="")
				p Fortnite là một sản phẩm của Epic Game, có thể nói đây là tựa game đang rất nổi ở thời điểm hiện tại. Do vậy, nó sẽ là "miếng bánh" ngon dành cho các nhà cung cấp dịch vụ.
				p Vừa qua, siêu phẩm cao cấp tiếp theo của Samsung là Galaxy Note 9 vừa được trình làng. Cạnh đó, Epic Game cũng ra mắt Fortnite trên nền tảng Android đã tạo nên sự chú ý từ người dùng đặc biệt là game thủ. 
				figure.image-compare
					img(src="https://cdn.tgdd.vn/Files/2018/08/12/1108796/39036834_1011688592344135_834114693634195456_n-_1820x1024-800-resize.jpg", alt="")
					img(src="https://cdn.tgdd.vn/Files/2018/08/12/1108796/fortniteone_970x546-800-resize.jpg", alt="")
				h4
					strong Bước đi đầy "toan tính" của Epic Game
				p Khi Fortnite Battle Royale ra mắt trên Android. Không "thuận theo tự nhiên", Epic Game đã bỏ qua cửa hàng Play Store vốn được cho là "mảnh đất màu mỡ" dành cho các nhà phát triển ứng dụng Android trong việc tiếp cận người dùng.
				p Epic Game đã lựa chọn cách đưa Fortnite lên trang web của mình. Họ tin rằng "tựa game này đủ sức để thu hút người dùng" nhằm "lách luật" tránh các khoản phí và chính sách khác từ Google.
				.text-center
					img(src="https://cdn.tgdd.vn/Files/2018/08/12/1108796/fortniteone_970x546-800-resize.jpg", alt="")
				p Đối với hệ điều hành iOS, câu chuyện này chắc chỉ là mơ bởi cơ chế bảo mật và kiểm duyệt của iOS được đánh giá là khắc khe. Nên "chiến lược" trên là bất khả thi.
				p Trong khi Android là hệ điều hành mở, cho phép cài đặt thoải mái ứng dụng bên thứ 3 từ các nguồn khác nhau mà không chịu sự kiểm duyệt khắc khe như iOS, đã tạo cơ hội để thực hiện "chiêu trò" trên.
				p Riêng hệ điều hành iOS qua Apple Store, Epic Game đã thu khoảng 180 triệu USD từ Fortnite. Mặt khác, doanh thu này sẽ có thể tăng cao hơn nữa nếu có mặt trên Play Store của Google nhưng nhà phát triển này lại có hướng đi riêng trên nền tảng Android.
				h4 
					strong Động thái "đáp trả" của Google và các bên liên quan
				p Giờ đây, khi người dùng tìm kiếm những thứ như Fortnite, Fortine Mobile hay Fortnite Battle Royale, Google Play sẽ đưa phản hồi "Fortnite Battle Royale của Epic Game, Inc không có mặt trên Google Play".
			.product
				.img
					img(src="img/product/5.jpg", alt="")
				.caption
					h3.name Garmin Forerunner® 645
					.price
						.new 9.990.000 đ
					.rating
						select.bar-rating
							option(value='1') 1
							option(value='2') 2
							option(value='3') 3
							option(value='4' selected="selected") 4
							option(value='5') 5
						span 70 đánh giá
					.des
						ul
							li Kích thước: 42.5 x 42.5 x 13.5 mm
							li Phiên bản: Music
							li Chất liệu dây: Silicone
							li Mặt kính: Cường lực
							li Chống nước: 5ATM
							li Trọng lượng: 42.2 g
					.btn-wrap
						a.btn-buy(href="#!") Mua ngay
						a.btn-tragop(href="#!") Trả góp
			.share
				img(src="img/share.jpg", alt="")
		.news-group
			h2.page-title Bài viết liên quan
			.news-list4.related
				.item
					a.news-item(href="#!")
						.img
							img(src="img/news/1.jpg", alt="")
						.caption
							.name Muốn điều khiển máy bay DJI dễ dàng và an toàn hãy nắm vững 7 mẹo sử dụng này
							time 20/07/2018
							.des Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi iste hic vel veritatis exercitationem suscipit. Delectus aliquam repellat incidunt iusto ducimus facere, quia autem reiciendis. Culpa et molestiae quaerat officia iste inventore excepturi provident, sit fugiat ipsam accusantium laboriosam illo nesciunt vel ab, aperiam ipsum dignissimos. Dignissimos illum laboriosam voluptatum sunt repellendus accusamus qui similique aliquid dolorum. Assumenda rem id illum, perferendis, vero aliquam alias, ea quos asperiores molestias exercitationem deserunt? Dicta nemo perferendis architecto labore aspernatur? Et, autem. Atque magnam eaque, expedita ducimus dolorem ullam aliquid. Eveniet ratione nesciunt fugit a, aut dolorum numquam? Laudantium quaerat optio ab deleniti.
				.item
					a.news-item(href="#!")
						.img
							img(src="img/news/2.jpg", alt="")
						.caption
							.name Muốn điều khiển máy bay DJI dễ dàng và an toàn hãy nắm vững 7 mẹo sử dụng này
							time 20/07/2018
							.des Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi iste hic vel veritatis exercitationem suscipit. Delectus aliquam repellat incidunt iusto ducimus facere, quia autem reiciendis. Culpa et molestiae quaerat officia iste inventore excepturi provident, sit fugiat ipsam accusantium laboriosam illo nesciunt vel ab, aperiam ipsum dignissimos. Dignissimos illum laboriosam voluptatum sunt repellendus accusamus qui similique aliquid dolorum. Assumenda rem id illum, perferendis, vero aliquam alias, ea quos asperiores molestias exercitationem deserunt? Dicta nemo perferendis architecto labore aspernatur? Et, autem. Atque magnam eaque, expedita ducimus dolorem ullam aliquid. Eveniet ratione nesciunt fugit a, aut dolorum numquam? Laudantium quaerat optio ab deleniti.
				.item
					a.news-item(href="#!")
						.img
							img(src="img/news/3.jpg", alt="")
						.caption
							.name Muốn điều khiển máy bay DJI dễ dàng và an toàn hãy nắm vững 7 mẹo sử dụng này
							time 20/07/2018
							.des Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi iste hic vel veritatis exercitationem suscipit. Delectus aliquam repellat incidunt iusto ducimus facere, quia autem reiciendis. Culpa et molestiae quaerat officia iste inventore excepturi provident, sit fugiat ipsam accusantium laboriosam illo nesciunt vel ab, aperiam ipsum dignissimos. Dignissimos illum laboriosam voluptatum sunt repellendus accusamus qui similique aliquid dolorum. Assumenda rem id illum, perferendis, vero aliquam alias, ea quos asperiores molestias exercitationem deserunt? Dicta nemo perferendis architecto labore aspernatur? Et, autem. Atque magnam eaque, expedita ducimus dolorem ullam aliquid. Eveniet ratione nesciunt fugit a, aut dolorum numquam? Laudantium quaerat optio ab deleniti.
				.item
					a.news-item(href="#!")
						.img
							img(src="img/news/4.jpg", alt="")
						.caption
							.name Muốn điều khiển máy bay DJI dễ dàng và an toàn hãy nắm vững 7 mẹo sử dụng này
							time 20/07/2018
							.des Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi iste hic vel veritatis exercitationem suscipit. Delectus aliquam repellat incidunt iusto ducimus facere, quia autem reiciendis. Culpa et molestiae quaerat officia iste inventore excepturi provident, sit fugiat ipsam accusantium laboriosam illo nesciunt vel ab, aperiam ipsum dignissimos. Dignissimos illum laboriosam voluptatum sunt repellendus accusamus qui similique aliquid dolorum. Assumenda rem id illum, perferendis, vero aliquam alias, ea quos asperiores molestias exercitationem deserunt? Dicta nemo perferendis architecto labore aspernatur? Et, autem. Atque magnam eaque, expedita ducimus dolorem ullam aliquid. Eveniet ratione nesciunt fugit a, aut dolorum numquam? Laudantium quaerat optio ab deleniti.
